%script
  Places.getInstance().init_places(
  =raw Region.select('id,name').includes(:cities).public.to_json(include: {cities:{only:[:id,:name]}})
  );

=render partial: 'web/messages/default'
%form#user_address_form.form-horizontal{action: (@address.id ? address_path(@address) : addresses_path), method: :post}

  -if @address.errors.any? 
    .alert.alert-error
      %button.close{type: :button, data:{dismiss: :alert}}
        &times;
      -if @address.errors.any?
        %h4
          =Russian.p(@address.errors.count, 'Найдена', 'Найдено', 'Найдено')
          =@address.errors.count
          =Russian.p(@address.errors.count, 'ошибка.', 'ошибки.', 'ошибок.')
        %br
        %p
          Адрес не сохранён.
        %ul
          - @address.errors.full_messages.each do |error|
            %li 
              =error
  %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
  -if @address.id
    %input{name: :_method, type: :hidden, value: :put}
    %input{name: :id, type: :hidden, value: @address.id}

  .control-group{class: ('error' if @address.errors.messages[:region])}
    %label.control-label{for: 'user_address_form_region'}
      Регион:
    .controls
      =select_tag :region, options_from_collection_for_select(Region.public, 'id', 'name', @region_id), id: 'user_address_form_region', class: 'span4'
  
  .control-group{class: ('error' if @address.errors.messages[:city])}
    %label.control-label{for: 'user_address_form_city'}
      Город:
    .controls
      =select_tag :city, options_from_collection_for_select((@address.city ? @address.city.region.cities : []), 'id', 'name', @city_id), id: 'user_address_form_city', class: 'span4'
  
  .control-group{class: ('error' if @address.errors.messages[:adds])}
    %label.control-label{for: 'user_address_form_adds'}
      Адрес:
    .controls
      %input#user_address_form_adds.span4{type: :text, name: :adds, value: @address.adds}
  
  .control-group{class: ('error' if @address.errors.messages[:postcode])}
    %label.control-label{for: 'user_address_form_postcode'}
      Почтовый индекс:
    .controls
      %input#user_address_form_postcode.span4{type: :text, name: :postcode, value: @address.postcode}

  .form-actions{class: ('and_destroy' if @address.id)}
    -if @address.id
      %a.btn.btn-danger{href: address_path(@address), data:{method: :delete, confirm: 'Вы точно хотите удалить адрес '<<(@address.city.name+' '+@address.adds.to_s+' '+@address.postcode.to_s) }, title: 'Удалить'}
        %i.icon-remove-sign.icon-white
        Удалить
    %button.btn.btn-primary{type: :submit}
      %i.icon-ok-sign.icon-white
      Сохранить
:coffeescript
  list_regions = $('#user_address_form_region')
  list_cities = $('#user_address_form_city')

  list_regions.change(->
    cities = Places.getInstance().cities_from(list_regions.val())
    
    new_list = ''
    
    if cities.length > 0
      
      for i in cities
        new_list += '<option value="'+i.id+'">'+i.name+'</option>'
    
    list_cities.html(new_list)

  )
  list_regions.trigger('change')