- content_for(:head) do

  %title
    Ваши адреса
    =@user.full_name

  %meta{name: 'description', content: 'Сохранённые адреса Самара-Маркет'}

  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/navigations/profile'
          #user_addresses
            %h1 Ваши сохранённые адреса
            =render partial: 'web/messages/default'
            %table#user_addresses_list.table.table-striped
              %thead
                %tr
                  %th{colspan: 2}
                    %a.btn{href: new_address_path, title: 'Создать новый адрес'}
                      Новый адрес
              -if @addresses.count == 0
                %tfoot
                  %tr
                    %th{colspan: 2}
                      У Вас нет сохраненных адресов
              -else
                %tbody
                  -@addresses.each do |address|
                    %tr
                      %td
                        =address.city.region.name
                        ,
                        =address.city.name
                        -if address.adds? or address.postcode?
                          ,
                        =address.adds
                        -if address.postcode?
                          ( индекс
                          =address.postcode
                          )
                        %td
                          %a.btn.btn-info{href: edit_address_path(address), title: 'Редактировать'}
                            %i.icon-pencil.icon-white
                          %a.btn.btn-danger{href: address_path(address), data:{method: :delete, confirm: 'Вы точно хотите удалить адрес '<<(address.city.name+' '+address.adds.to_s+' '+address.postcode.to_s) }, title: 'Удалить'}
                            %i.icon-remove-sign.icon-white 

      .columnLeft