- content_for(:head) do

  %title Создание нового адреса

  %meta{name: 'description', content: 'Создание нового адреса'}

  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/navigations/profile'
          #user_addresses_edit
            = render 'form'