%ul#user_profile_main_navigation.nav.nav-pills
  %li{class: ('active' if current_page?(controller: 'user'))}
    %a{href: user_path, title: 'Ваш профиль'}
      %i.icon-user
      Профиль
  %li{class: ('active' if current_page?(controller: 'addresses' ))}
    %a{href: addresses_path, title: 'Ваш адреса'}
      %i.icon-globe    
      Адреса
  %li{class: ('active' if current_page?(controller: 'orders'))}
    %a{href: orders_path, title: 'Ваш заказы'}
      %i.icon-list-alt
      Заказы
  %li
    %a{href: user_logout_path, title: 'Выход'}
      %i.icon-off
      Закончить сессию