!!! 5
%html
  %head
    =stylesheet_link_tag 'http://twitter.github.com/bootstrap/assets/css/bootstrap.css',media: :all
    :css
      .well{
        width:400px;
        margin: 100px auto;
      }
  %body
    .well
      -if flash[:error]
        .alert.alert-error
          =flash[:error]
      %form.form-horizontal{method: :post, action: ''}
        %input{name: :_method, type: :hidden, value: :post}
        %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
        .control-group
          %label.control-label
            Login:
          .controls
            %input{name: :login, type: :text, value: params[:login]}
        .control-group
          %label.control-label
            Password:
          .controls
            %input{name: :password, type: :password}
        .form-actions
          %button.btn.btn-primary.pull-right{type: :submit}
            Sign in