- content_for(:head) do

  %title Ваши заказы Самара-Маркет

  %meta{name: 'description', content: 'Ваши заказы Самара-Маркет'}

  :javascript
    config.navigation = false;
:javascript
  $(document).ready(function(){window.Helper.standart_page()})
-if flash[:new_order]
  :javascript
    ;var order_id_new_order = "#{flash[:new_order]}"
    ;$(document).ready(function(){document.getElementById('order_id_'+order_id_new_order).className='collapse in'
    });
.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/navigations/profile'
          %h1 Ваши заказы
          -if flash[:new_order]
            .alert.alert-success
              %button.close{type: :button, data:{dismiss: :alert}}
                ×
              %p
                %b
                  Ваш заказ № А-
                  =flash[:new_order]
                  успешно оформлен.
              %p
                В течение двух рабочих дней мы свяжемся с Вами.

          #status_list_for_orers_list
          %table#orers_list.table.table-bordered.table-hover
            %thead
              %tr
                %th.id
                  \#
                %th.delivery
                  Способ получени
                %th{colspan: 2}
                  Статус
            -time_now = Time.now
            - if @orders.count > 0
              %tbody
                -@orders.each do |order|
                  %tr
                    %td.id                  
                      =order.bill
                    %td.delivery
                      =order.delivery.delivery_method.name
                      =order.delivery.extra_description
                    %td.status{data: {status: order.status }}
                      =order.class::STATUS_LIST[order.status]
                    %td.actions
                      %button.btn.btn{data:{toggle: :collapse, target: '#order_id_'<<order.id.to_s, parent: '#orers_list'}}
                        подробно
                  %tr.collapse-wrap
                    %td{colspan: 4}
                      %div.collapse{id: 'order_id_'<<order.id.to_s}
                        .content
                          %h3
                            Заказ №
                            =order.bill
                          %table.table.table-bordered
                            %tr
                              %td
                                Статус
                              %td
                                =order.class::STATUS_LIST[order.status]
                                обновленно
                                =distance_of_time_in_words(time_now, order.updated_at )
                                назад
                            %tr
                              %td
                                Дата заказа
                              %td
                                =order.created_at.to_s(:when_and_how)
                            %tr
                              %td
                                Метод оплаты
                              %td
                                =order.payment.name
                            %tr
                              %td
                                Способ получения
                              %td
                                =order.delivery.delivery_method.name
                                =order.delivery.extra_description
                                -if order.address and !order.address_exp?
                                  =order.address.city.region.name
                                  ,
                                  =order.address.city.name
                                  -fields = order.delivery.delivery_method.fields | order.payment.fields
                                  -if fields.include?('address') or fields.include?('postcode')
                                    -if order.address.adds
                                      ,
                                      =order.address.adds
                                    -if order.address.postcode
                                      (
                                      =order.address.postcode
                                      )
                            -unless order.market_note.blank?
                              %tr
                                %td
                                  %span.label.label-important
                                    Примечание от магазина
                                %td
                                  =order.market_note

                          %table.table.table-bordered.products_list
                            %thead
                              %tr
                                %th.name
                                  Наименование
                                %th.price
                                  Цена
                                %th.count
                                  Кол-во
                                %th.sum
                                  Сумма
                            %tbody
                              -products_sum = 0
                              -order.cart.products_in_cart.joins('LEFT JOIN products ON products_in_carts.product_id = products.id').select('products_in_carts.*,products.id AS product_id, products.status, products.name, products.link_rewrite').each do |product|
                                -if product.count.to_i > 0
                                  %tr
                                    %td.name
                                      -if [20,30].include? product.status
                                        =link_to product.name, product_path(product.link_rewrite, :html)
                                      -else
                                        *товар не найден
                                    %td.price
                                      =price_default product.sale_price
                                    %td.count
                                      =product.count
                                    %td.sum
                                      -sum = product.sale_price.to_i *  product.count
                                      -products_sum += sum
                                      =price_default sum
                              %tr.total
                                %th.name{colspan: 2}
                                  Итого по товарам:
                                %th.sum{colspan: 2}
                                  =price_default products_sum
                              -if order.paid_bonus.to_i > 0     
                                %tr.total
                                  %th.name{colspan: 2}
                                    Оплачено бонусами:
                                  %th.sum{colspan: 2}
                                    =price_default order.paid_bonus.to_i
                              -if order.discount.to_i > 0   
                                %tr.total
                                  %th.name{colspan: 2}
                                    Скидка:
                                  %th.sum{colspan: 2}
                                    =price_default order.discount.to_i
                              %tr.total
                                %th.name{colspan: 2}
                                  Доставка:
                                %th.sum{colspan: 2}
                                  =price_default order.delivery_price.to_i
                                  -if order.status == 0
                                    %span.label.label-info
                                      *1
                              %tr.total
                                %th.name{colspan: 2}
                                  Итого к оплате:
                                %th.sum{colspan: 2}
                                  =price_default((products_sum + order.delivery_price.to_f)-order.discount.to_f-order.paid_bonus.to_i)
                                  -if order.status == 0
                                    %span.label.label-info
                                      *1
                              -if order.status == 0
                                %tr
                                  %td{colspan: 4}
                                    %span.label.label-info
                                      1
                                    Если цена за доставку зависит от адреса доставки, то цена доставки может быть изменена и соответственно сумма к оплате тоже изменится. 
            - else
              %tfoot
                %tr
                  %th{colspan: 3}
                    Вы ещё ничего не заказывали
          %script
            var n_s_order = {};
            n_s_order.status_list = #{Order::STATUS_LIST.to_json.html_safe}
          :coffeescript
            $ ->
              el = $('#orers_list > tbody > tr:even td.status')
              elDetails = $('#orers_list > tbody > tr:odd .collapse')
              n_s_order.el = el
              elDetails.collapse()

              setTimeout(->
                elDetails.collapse('hide')
              ,1000)
              navs = $('#status_list_for_orers_list')
              html_status_list = ''

              is_status_list = []

              for i in el
                is_status_list.push(i.getAttribute('data-status')) if i.getAttribute('data-status')
              
              jQuery.unique(is_status_list)
              is_status_list.reverse()

              for i in is_status_list
                html_status_list += '<li><a href="#status" data-status="'+i+'">'+n_s_order.status_list[i]+'</a></li>'

              if html_status_list != ''
                navs.html('<ul class="nav nav-pills"><li class="active"><a href="#status">Все заказы</a></li>'+html_status_list+'</ul>')

                $('#status_list_for_orers_list').on('click','a', ->
                  $this = $(this)
                  status = $this.data('status')
                  elDetails.collapse('hide')
                  if $.isNumeric(status)
                    status = parseInt(status)
                    navs.find('li.active').removeClass('active')
                    $this.parent().addClass('active')
                    n_s_order.el.filter('[data-status="'+status+'"]').parent().show()
                    n_s_order.el.filter('[data-status!="'+status+'"]').parent().hide()
                  else
                    navs.find('li.active').removeClass('active')
                    navs.find('li:first').addClass('active')
                    n_s_order.el.parent().show()
                )

      .columnLeft
