- content_for(:head) do

  %title Оформление заказа Самара-Маркет

  %meta{name: 'description', content: 'Оформление заказа Самара-Маркет'}

  :javascript
    config.navigation = false;

%script{src: 'http://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.geoObjects&lang=ru-RU&coordorder=longlat&mode=release'}
%script

  var $O  = {}

  Places.getInstance().init_places(
  =raw Region.select('id,name').includes(:cities).public.to_json(include: {cities:{only:[:id,:name]}})
  )

  $O.User =
  =raw current_session.user.to_json(only:[:first_name, :last_name, :middle_name, :email, :email_verified, :phone, :phone_verified]) 
  ;
  $O.UserAddresses =
  =raw current_session.user.addresses.to_json(only:[:id, :postcode, :adds, :city_id]) 
  ;
  $(document).ready(function(){window.Helper.standart_page()})
.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          #ordering
            %h1 Оформление заказа
            %form#ordering_form.form-horizontal{method: :post, action: orders_path, data:{remote: true}}
              -if current_session.user.addresses.size > 0
                #from_addresses_block.addresses
                  .control-group.info
                    %p
                      %span.help-block
                        У Вас есть сохраннёные адреса, можете выбрать один из вариантов в списке предоставленном ниже:
                    %label.control-label{for: 'ordering_form_address_id'}
                      Сохраненные адреса:
                    .controls
                      %select#ordering_form_address_id{name: :address_id}
                        %option{value: 0}
                          Новый адрес
                        -current_session.user.addresses.includes(:city).each do |address|
                          %option{value: address.id}
                            =address.city.name
                            ,
                            =address.adds


              .loader
                %img{src:'/assets/loader.gif'}
      .columnLeft
%script
  sm.TPL = {}
  sm.TPL['form_field_region'] =
  =render file: 'web/orders/form_templates_js/region_field'

  sm.TPL['form_field_city'] =
  =render file: 'web/orders/form_templates_js/city_field'

  sm.TPL['form_field_delivery'] =
  =render file: 'web/orders/form_templates_js/delivery_field'

  sm.TPL['form_field_payment'] =
  =render file: 'web/orders/form_templates_js/payment_field'

  sm.TPL['form_field_others'] =
  =render file: 'web/orders/form_templates_js/others_fields'
  
  =render file: 'web/orders/js/ordering'