.facet_box
  .title
    %span
      %a{href: brands_path(:html), title: 'Посмотреть все бренды'}
        Бренды
  %ul
    %li{class:('active' if @filter[:brands].empty?)}
      %a{ href: search_path(query: params[:query],format: :html, brands: nil, page: nil, types: @filter[:types]), title: 'Показать товары всех брендов'}
        Все бренды
    -if @products.any?
      -@brands.each do |brand|
        -if @filter[:brands].include?(brand.id)
          -_class = 'active'
          -_brands = @filter[:brands] - [brand.id]
        -else 
          -_class = nil
          -_brands = @filter[:brands] + [brand.id]
        %li{class: _class}
          %a{ href: search_path(query: params[:query],format: :html, brands: _brands, page: nil, types: @filter[:types]), title: 'Показать товары только от '<<brand.name}
            = brand.name
            -if _class
              %i.icon-remove