.facet_box
  .title
    %span
      %a{href: brands_path(:html), title: 'Посмотреть все бренды'}
        Бренды
  %ul
    %li{class:('active' if @filter[:brands]==nil)}
      %a{ href: discounts_path(format: :html, brands: nil, sort: @filter[:sort], page: nil, types: @filter[:types]), title: 'Показать товары всех брендов'}
        Все бренды
    -@brands.each do |brand|
      -if @filter[:brands] and @filter[:brands].include?(brand.id)
        -_class = 'active'
        -_brands = @filter[:brands] - [brand.id]
      -elsif @filter[:brands]
        -_class = nil
        -_brands = @filter[:brands] + [brand.id]
      -else
        -_class = nil
        -_brands = [brand.id]
      %li{class: _class}
        %a{ href: discounts_path(format: :html, brands: _brands, sort: @filter[:sort], page: nil, types: @filter[:types]), title: 'Показать товары только от '<<brand.name}
          = brand.name
          -if _class
            %i.icon-remove