.facet_box
  .title
    %span
      Категории
  %ul
    -categories.each do |category|
      %li{class: ('active' if category.id == @category.id)}
        %a{ href: category_path(category.link_rewrite,format: :html, page: nil)}
          =category.name
          ="(#{category.products_visible})"