.facet_box
  .title
    %span
      %a{href: brands_path(:html), title: 'Посмотреть все бренды'}
        Бренды
  %ul
    %li{class:('active' if filter==nil)}
      %a{ href: category_path(@category.link_rewrite,format: :html, brands: nil, sort: @filter[:sort], types: @filter[:types], page: nil), title: 'Показать товары всех брендов'}
        Все бренды
    -@brands.each do |brand|
      -if filter and filter.include?(brand.id)
        -_class = 'active'
        -_brands = filter - [brand.id]
      -elsif filter
        -_class = nil
        -_brands = filter + [brand.id]
      -else
        -_class = nil
        -_brands = [brand.id]
      %li{class: _class}
        %a{ href: category_path(@category.link_rewrite,format: :html, brands: _brands, sort: @filter[:sort], types: @filter[:types], page: nil), title: 'Показать товары только от '<<brand.name}
          = brand.name
          -if _class
            %i.icon-remove