.facet_box
  .title
    %span
      %a{href: types_path(:html), title: 'Посмотреть все типы товаров'}
        Типы товаров
  %ul
    %li{class:('active' if @filter[:types].empty?)}
      %a{ href: search_path(query: params[:query],format: :html, brands: @filter[:brands], page: nil, types: nil), title: 'Показать товары всех типов'}
        Все типы
    -@types.each do |type|
      -if @filter[:types].include?(type.id)
        -_class = 'active'
        -_types = @filter[:types] - [type.id]
      -else
        -_class = nil
        -_types = @filter[:types] + [type.id]

      %li{class: _class}
        %a{ href: search_path(query: params[:query], page: nil, format: :html, brands: @filter[:brands], types: _types), title: 'Показать толкьо '<<type.name}
          =type.name
          -if _class
            %i.icon-remove