.facet_box
  .title
    %span
      %a{href: types_path(:html), title: 'Посмотреть все типы товаров'}
        Типы товаров
  %ul
    %li{class:('active' if @filter[:types]==nil)}
      %a{ href: category_path(@category.link_rewrite,format: :html, brands: @filter[:brands], sort: @filter[:sort], types: nil, page: nil), title: 'Показать товары всех типов'}
        Все типы
    -@types.each do |type|
      -if @filter[:types] and @filter[:types].include?(type.id)
        -_class = 'active'
        -_types = @filter[:types] - [type.id]
      -elsif @filter[:types]
        -_class = nil
        -_types = @filter[:types] + [type.id]
      -else
        -_class = nil
        -_types = [type.id]

      %li{class: _class}
        %a{ href: category_path(@category.link_rewrite,format: :html, brands: @filter[:brands], sort: @filter[:sort], types: _types, page: nil), title: 'Показать только '<<type.name}
          =type.name
          -if _class
            %i.icon-remove