.facet_box
  .title
    %span
      %a{href: types_path(:html), title: 'Посмотреть все типы товаров'}
        Типы товаров
  %ul
    %li{class:('active' if @filter[:types]==nil)}
      %a{ href: brand_products_path(@brand.link_rewrite, nil, :html, sort: @filter[:sort], types: nil), title: 'Показать товары всех типов'}
        Все типы
    -@brand.types.visible.select('products_types.id, products_types.name').each do |type|
      -if @filter[:types] and @filter[:types].include?(type.id)
        -_class = 'active'
        -_types = @filter[:types] - [type.id]
      -elsif @filter[:types]
        -_class = nil
        -_types = @filter[:types] + [type.id]
      -else
        -_class = nil
        -_types = [type.id]

      %li{class: _class}
        %a{ href: brand_products_path(@brand.link_rewrite, nil, :html, sort: @filter[:sort], types: _types), title: 'Показать толкьо '<<type.name}
          =type.name
          -if _class
            %i.icon-remove