- content_for(:head) do

  %title Соглашение о конфиденциальности информации
  :javascript
    config.navigation = false;

%div{class: ('standart_page' unless request.xhr?)}
  %div{class: ('pageWrap' unless request.xhr?)}
    %div{class: ('pageContainer' unless request.xhr?)}
      %div{class: ('columnRight' unless request.xhr?)}
        %div{class: ('content' unless request.xhr?)}
          %h1 Соглашение о конфиденциальности информации.

          %p
            %strong
              Предоставляемая информация:

          %p
            При регистрации на сайте Пользователь в обязательном порядке предоставляет следующую информацию:  номер мобильного телефона и пароль для доступа к сайту.
          %p
            При оформлении заказа может быть запрошена любая личная информация, необходимая для выполнения обязательств как продавца товаров и услуг перед Пользователем.
          %p
            Также автоматически получается и записывается техническая информация из Вашего браузера: IP адрес, адрес запрашиваемой страницы и cookie.
          %p
            Поисковые запросы из формы поиска.
          %p
            Использование предоставленной информации:
          %p
            Администрация сайта использует информацию о пользователе для:
          %ul
            %li
              — регистрации Пользователя на сайте;
            %li
              — проведения акций и в случае надобности информирования о её результатах Пользователя;
            %li  
              — выполнения возможных обязательств как продавца товаров и услуг перед Пользователем; 
            %li
              — восстановления Вашего доступа к нашим сервисам в случае потери пароля;
            %li
              — статистики и анализа работы сайта.
          %br

          %p
            Администрация сайта имеет право направлять Пользователю сообщения рекламно-информационного характера. Пользователь в любой момент может отказаться от рекламно-информационной рассылки. Вся предоставленная информация может самостоятельно редактироваться пользователем посредством инструментов расположенных в личном кабинете пользователя на сайте . При заявке в тех поддержку через контактную форму, по желанию пользователя его аккаунт может быть удалён со всей информацией о пользователе.

          %p
            %strong
              Cookies:
          %p
            Наш сайт может записывать cookies на компьютер Пользователя и впоследствии использовать их.
          %p
            Администрация сайта не предоставляет доступ к cookies третьим лицам.
          %br
          %p
            %strong
              Разглашение информации:
          %p
            Администрация сайта обязуется не разглашать информацию о пользователе, не считая нарушением:
          %ul
            %li
              — предоставление информации агентам и третьим лицам для выполнения возможных обязательств как продавца товаров и услуг перед Пользователем;
            %li
              — если этого требует российское или международное законодательство и/или органы власти с соблюдением законной процедуры.

          %p
            Администрация сайта не несет ответственности за сведения, предоставленные пользователем на сайте в общедоступной форме.
          %p
            Изменение в Соглашении о конфиденциальности информации:
          %p
            Администрация сайта может вносить изменения в Соглашение о конфиденциальности информации. При существенных изменениях администрация сайта проинформирует пользователей о новой редакции Соглашения.
          %p
            С действующей редакцией можно будет ознакомиться в соответствующем разделе.

          %p.align-right
            Действительно с 5 февраля 2011г.
          %p.align-right
            Последняя редакция 1 февраля 2013г.
      %div{class: ('columnLeft' unless request.xhr?)}
-unless request.xhr?
  %script
    $(document).ready(function(){window.Helper.standart_page()})