- content_for(:head) do

  %title Публичный договор-оферта
  :javascript
    config.navigation = false;
%div{class: ('standart_page' unless request.xhr?)}
  %div{class: ('pageWrap' unless request.xhr?)}
    %div{class: ('pageContainer' unless request.xhr?)}
      %div{class: ('columnRight' unless request.xhr?)}
        %div{class: ('content' unless request.xhr?)}
          #public_offer
            %h1 Публичный договор-оферта
            %ul
              %li
                %span.title1
                  1. Общие положения                                      
                %ul
                  %li
                    1.1. Настоящий документ является официальным предложением (публичной офертой), именуемый в дальнейшем «Договор», ИП «Калинкин А.С.», именуемого в дальнейшем «Продавец», и содержит все существенные условия по продаже товаров в интернет-магазине, расположенном в сети Интернет по адресу: www.самара-маркет.рф (www.samara-market.com), именуемого в дальнейшем «Магазин».
                  %li
                    1.2. В соответствии с пунктом 3 статьи 438 Гражданского кодекса Российской Федерации (ГК РФ) акцепт оферты равносилен заключению договора на условиях, изложенных в оферте.
                  %li
                    1.3. В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ), в случае принятия изложенных ниже условий и оплаты услуг, юридическое или физическое лицо, производящее акцепт этой оферты, становится «Покупателем».
                  %li
                    1.4. Вместе «Продавец» и «Покупатель» именуются «Стороны».
                  %li
                    1.5. Отношения в области защиты прав потребителей регулируются Гражданским кодексом РФ, Законом РФ "О защите прав потребителей" и принимаемыми в соответствии с ним иными нормативными актами РФ.

              %li
                %span.title1
                  2. Предмет договора                                    
                %ul
                  %li
                    2.1.  Предметом настоящего договора  является приобретение  «Покупателем» у «Продавца» товаров, именуемых далее «Товар», представленных в «Магазине» в соответствии с ценами, указанными в «Магазине» на день заказа товаров.
                  %li
                    2.2. «Продавец» сохраняет за собой право изменять настоящий «Договор» без немедленного уведомления «Покупателя».
                  %li
                    2.3. Настоящий «Договор» при оформлении отношений «Сторон» имеет приоритет перед иными документами.

              %li
                %span.title1
                  3. Информация о товарах                                  
                %ul
                  %li
                    3.1. Представленные фото-образцы содержат один и более видов товара определенного артикула и текстовую информацию: основные свойства, артикул, цену за единицу «Товара».

              %li
                %span.title1
                  4. Акцепт договора                                  
                %ul
                  %li
                    4.1. Заполнение бланка Заказа и дальнейшая передача его к исполнению, означает достаточное и полное ознакомление «Покупателя» с «Товаром», его наличии (отсутствии) в «Магазине»,  скидках, а также о влиянии условий «Заказа» на формирование конечной цены «Товара» и полное согласие с прочими условиями и стоимостью доставки «Товара» «Продавцом» к «Покупателю», согласно данному «Договору».
                  %li
                    4.2. «Договор» считается заключенным с момента получения «Покупателем» сообщения «Ваш заказ отправлен» и одновременным  получением «Продавцом» сообщения на электронную почту  о намерении покупателя приобрести товар на условиях, предложенных «Продавцом».
                  %li
                    4.3. Акцепт оферты  означает приобретение «Покупателем» у «Продавца» «Товара» в порядке, определяемом условиями оплаты и доставки  «Товара».

              %li
                %span.title1
                  5. Порядок приобретения товара                                
                %ul
                  %li
                    5.1. Покупатель имеет право оформить заказ на любой «Товар», представленный на сайте «Магазина» в соответствии с порядком оформления заказов.
                  %li
                    5.2. Каждая позиция может быть представлена в заказе в любом количестве.
                  %li
                    5.3. При отсутствии товара «Покупатель» вправе заменить его товаром аналогичной модели, отказаться от данного товара, аннулировать заказ.
                  %li
                    5.4. Покупатель НЕ вправе отказаться от заказа после момента его подтверждения менеджером Магазина.
                  %li
                    5.5. Покупатель имеет право отказаться от заказа в любое иное время  в порядке, предусмотренном Условиями обмена и возврата Товара.
              %li
                %span.title1
                  6. Стоимость и порядок оплаты заказа                                
                %ul
                  %li
                    6.1. Полная стоимость заказа состоит из стоимости товара в «Магазине» и стоимости доставки.
                  %li
                    6.2. «Покупатель» оплачивает заказ любым способом, указанным на сайте «Магазина» в течение трёх рабочих дней с даты согласования стоимости доставки по предоплате в размере100%. 
                  %li
                    6.3. В случае доставки «Товара» курьером «Магазина», помимо 100% предоплаты любым способом, указанным на сайте «Магазина», «Покупатель» также может оплатить заказ наличными при получении «Товара».
              %li
                %span.title1
                  7. Доставка заказа                            
                %ul
                  %li
                    7.1. Общий срок доставки товара состоит из срока обработки заказа и срока доставки. Срок обработки заказа и доставки составляет до четырёх календарных дней по г. Самара.
                  %li
                    7.2. В случаях доставки заказа курьером «Магазина» заказ считается выполненным в момент фактической передачи «Товара» «Покупателю» на основании выданной «Продавцом» накладной на определенный «Товар» под подпись «Покупателя», либо его надлежащим образом уполномоченного представителя.
              %li
                %span.title1
                  8. Порядок возврата товара                            
                %ul
                  %li
                    8.1. «Покупатель» вправе отказаться от полученного товара надлежащего качества не входящих в перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденному Постановлением Правительства РФ от 19.01.1998 № 55., в течение четырнадцати дней, не считая дня его получения, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также имеется документ подтверждающий оплату указанного товара. «Покупатель» обязан вернуть товар «Продавцу». «Продавец» возвращает «Покупателю» стоимость оплаченного товара, за вычетом стоимости доставки товара от «Продавца» к «Покупателю», в течение трёх рабочих дней с даты получения возращенного товара.
                  %li
                    8.2. При получении товара ненадлежащего качества, «Покупатель» вправе потребовать замены некачественного товара на качественный. «Продавец» удовлетворяет требование «Покупателя» в течении месяца с даты предъявления «Покупателем» письменной рекламации через форму «Контакты». 
              %li
                %span.title1
                  9. Права и обязанности сторон                          
                %ul
                  %li
                    %span.title2
                      9.1. Продавец обязуется:                          
                    %ul
                      %li
                        9.1.1. С момента заключения настоящего «Договора» «Продавец» обязуется обеспечить выполнение в полной мере всех обязательств перед «Покупателем» в соответствии с условиями, оговоренными в правилах «Магазина» и настоящим «Договором».
                      %li
                        9.1.2. «Продавец» оставляет за собой право невыполнения обязательств, в случае возникновения форс-мажорных обстоятельств.
                      %li
                        9.1.3. При невозможности выполнения заказа Магазином по независящим от Магазина причинам, Менеджер «Магазина» обязан поставить «Покупателя» в известность (по телефону или через электронную почту).

                  %li
                    %span.title2
                      9.2. Продавец имеет право:                          
                    %ul
                      %li
                        9.2.1. Изменять настоящий Договор и цены на товары и услуги в одностороннем порядке, размещая их на сервере  «Магазина». Все изменения вступают в силу немедленно после публикации.
                      %li
                        9.2.2. Не принимать претензий по возвращаемому Товару надлежащего качества, имеющему индивидуально-определенные свойства, если указанный Товар может быть использован исключительно приобретающим его Покупателем.
                      %li
                        9.2.3. Не принимать претензий по возвращаемому Товару надлежащего качества, указанному в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденному Постановлением Правительства РФ от 19.01.1998 № 55.
                  %li
                    %span.title2
                      9.3. Покупатель обязуется:                          
                    %ul
                      %li
                        9.3.1. До момента заключения Договора ознакомиться с содержанием и условиями Договора Оферты, тарифами, правилами доставки товаров предлагаемыми к продаже в «Магазине».
                      %li
                        9.3.2. Во исполнение «Продавцом» своих обязательств перед «Покупателем» последний должен сообщить все необходимые данные, однозначно идентифицирующие его как покупателя, и достаточные для доставки «Покупателю» заказанного им «Товара».
              %li
                %span.title1
                  10. Ответственность сторон и разрешение споров                        
                %ul
                  %li
                    10.1. Стороны несут ответственность за неисполнение и/или ненадлежащее исполнение обязательств по настоящему договору в соответствии с действующим законодательством РФ.
                  %li
                    10.2. Спорные вопросы, возникающие в процессе исполнения настоящего Договора, решаются путем переговоров.
                  %li
                    10.3. В случае невозможности разрешения спорных вопросов путем переговоров, каждая из Сторон может защищать свои нарушенные права в порядке, установленном Законодательством РФ.
              %li
                %span.title1
                  11. Срок действия договора                       
                %ul
                  %li
                    11.1. Настоящий договор вступает в силу с момента осуществления «Покупателем» акцепта в установленном порядке и действует до исполнения «Сторонами» своих обязательств согласно пункта 2 статьи 497 ГК РФ.

              %li
                %span.title1
                  12. Прочее                       
                %ul
                  %li
                    12.1. Продавец оставляет за собой право расширять и сокращать товарное предложение на Сайте, регулировать доступ к покупке любых товаров, а также приостановить или прекратить продажу любых товаров по своему собственному усмотрению.
                  %li
                    12.2. Настоящий Договор должен рассматриваться в том виде, как он опубликован на Сайте «Магазина» и должен применяться и толковаться в соответствии с законодательством Российской Федерации.
            %br
            %br
            %p.align-right
              %strong
                Действительно с 5 февраля 2011г.
      %div{class: ('columnLeft' unless request.xhr?)}
-unless request.xhr?
  %script
    $(document).ready(function(){window.Helper.standart_page()})