- content_for(:head) do

  %title Возврат и гарантийный ремонт
  :javascript
    config.navigation = false;
%div{class: ('standart_page' unless request.xhr?)}
  %div{class: ('pageWrap' unless request.xhr?)}
    %div{class: ('pageContainer' unless request.xhr?)}
      %div{class: ('columnRight' unless request.xhr?)}
        %div{class: ('content' unless request.xhr?)}
          #return_of_goods
            %h1 Возврат и гарантийный ремонт

            %h2 Условия гарантийного обслуживания
            %ul
              %li
                1.Гарантия на проданные товары подразумевает под собой бесплатный ремонт в течение гарантийного срока, либо их замену на аналогичные в случае невозможности ремонта.
              %li
                2. Ответственность за качество товара несет фирма-производитель.
              %li
                3. На все товары предоставляется гарантия в полном соответствии с Законом "О защите прав потребителей".
              %li
                4. Если гарантия поддерживается специализированными сервисными центрами, сертифицированными производителем - гарантийное обслуживание осуществляется в авторизованных сервисных центрах бесплатно в течение всего срока гарантии, а адреса и телефоны авторизованных сервисных центров указаны в гарантийном талоне.
              %li
                5. Гарантия подтверждает право покупателя на выполнение бесплатного ремонта изделия в авторизованном сервисном центре фирмы-производителя. Срок гарантии устанавливается производителем и указан в фирменном гарантийном талоне изделия.
              %li
                6. В случае обнаружения в изделии дефекта в течение гарантийного срока, ремонт или замена изделия или его частей производится в авторизованном сервисном центре фирмы-производителя, либо в сервисном центре магазина согласно условиям гарантийного обслуживания указанным в гарантийном талоне.
              %li
                7. Доставка изделия в сервисный центр осуществляется покупателем самостоятельно. Правила и сроки нахождения изделия в сервисном центре устанавливаются сервисным центром.
              %li
                8. Магазин не несет ответственности за возможный отказ и/или уклонение от гарантийного обслуживания изделия сервисным центром.
              %li
                9. Гарантией не предусматриваются претензии относительно технических параметров изделий, если они соответствуют указанным производителем.
              %li
                10. Проверка упаковки, комплектации и работоспособности осуществляется после доставки заказа в присутствии курьера.
              %li
                11. Претензии к комплектации, документации, внешнему виду, совместимости с другими устройствами, программному обеспечению, техническим характеристикам и прочим качествам изделия после передачи товарораспорядительных документов не принимаются.
              %li
                12. Гарантийные обязательства недействительны, если изменён или удалён серийный номер изделия, имеются нарушения гарантийных пломб, этикеток и маркировок, а также отсутствия упаковки, при обнаружении следов самостоятельного ремонта или модернизации изделий, при нарушении правил использования товара, либо утери гарантийного талона или документов подтверждающих покупку.
                
            %h2 Обмен товара надлежащего качества.
            %ul
              %li
                1. Потребитель вправе обменять непродовольственный товар надлежащего качества на аналогичный товар у продавца, у которого этот товар был приобретен, если указанный товар не подошел по форме, габаритам, фасону, расцветке, размеру или комплектации. Потребитель имеет право на обмен непродовольственного товара надлежащего качества в течение четырнадцати дней, не считая дня его покупки. Обмен непродовольственного товара надлежащего качества проводится, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также имеется товарный чек или кассовый чек либо иной подтверждающий оплату указанного товара документ. Отсутствие у потребителя товарного чека или кассового чека либо иного подтверждающего оплату товара документа не лишает его возможности ссылаться на свидетельские показания. Перечень товаров, не подлежащих обмену, утверждённый постановлением Правительства РФ от 19.01.1998 № 55.
              %li
                2. В случае, если аналогичный товар отсутствует в продаже на день обращения потребителя к продавцу, потребитель вправе отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за указанный товар денежной суммы. Требование потребителя о возврате уплаченной за указанный товар денежной суммы подлежит удовлетворению в течение трех дней со дня возврата указанного товара. По соглашению потребителя с продавцом обмен товара может быть предусмотрен при поступлении аналогичного товара в продажу. Продавец обязан незамедлительно сообщить потребителю о поступлении аналогичного товара в продажу.

            %h2 Расчеты с потребителем в случае приобретения им товара ненадлежащего качества.
            %ul
              %li
                1. При замене товара ненадлежащего качества на товар этой же марки (этих же модели и (или) артикула)  перерасчет цены товара не производится.
              %li
                2. При замене товара ненадлежащего качества на такой же товар другой марки (модели, артикула) в случае, если цена товара, подлежащего замене, ниже цены товара, предоставленного взамен, потребитель должен доплатить разницу в ценах; в случае, если цена товара, подлежащего замене, выше цены товара, предоставленного взамен, разница в ценах выплачивается потребителю. Цена товара, подлежащего замене, определяется на момент его замены, а если требование потребителя не удовлетворено продавцом, цена заменяемого товара и цена передаваемого взамен товара определяются на момент вынесения судом решения о замене товара.
              %li
                3. В случае предъявления потребителем требования о соразмерном уменьшении покупной цены товара в расчет принимается цена товара на момент предъявления потребителем требования об уценке или, если оно добровольно не удовлетворено, на момент вынесения судом решения о соразмерном уменьшении покупной цены.
              %li
                4. При возврате товара ненадлежащего качества потребитель вправе требовать возмещения разницы между ценой товара, установленной договором, и ценой соответствующего товара на момент добровольного удовлетворения такого требования или, если требование добровольно не удовлетворено, на момент вынесения судом решения.

            %h2 Замена товара ненадлежащего качества.
            %ul
              %li
                1. В случае обнаружения потребителем недостатков товара и предъявления требования о его замене, продавец (изготовитель, уполномоченная организация или уполномоченный индивидуальный предприниматель, импортер) обязан заменить такой товар в течение семи дней со дня предъявления указанного требования потребителем, а при необходимости дополнительной проверки качества такого товара продавцом (изготовителем, уполномоченной организацией или уполномоченным индивидуальным предпринимателем, импортером) - в течение двадцати дней со дня предъявления указанного требования. Если у продавца (изготовителя, уполномоченной организации или уполномоченного индивидуального предпринимателя, импортера) в момент предъявления требования отсутствует необходимый для замены товар, замена должна быть проведена в течение месяца со дня предъявления такого требования.
      %div{class: ('columnLeft' unless request.xhr?)}
-unless request.xhr?
  %script
    $(document).ready(function(){window.Helper.standart_page()})