<p style="font-size: 18px, font-style:bold">Причина обращения: <%= @params[:type] %></p>
<% if @params[:order_bill] %>
  <p style="font-size: 18px, font-style:bold">Заказ № <%= @params[:order_bill] %></p>
<% end %>

  <p><%= @params[:msg] %></p>