<p>Для подтверждение email адреса пройдите по ссылке ниже.</p>

<p>Ссылка действует 24 часа, нельзя заказывать письмо для подтверждение email адреса более чем один раз в 10 минут.</p>

<p>&nbsp;</p>

<p>
  <a style="font-size: 18px; font-weight: 700" href="<%= data_verified_field_path(field: :email, token: @verified.token, only_path: false) %>" title="Ссылка для подтверждение email адреса">Подтверждение email адреса</a>
</p>

<p>
  Если Вы не заказывали письмо для подтверждение email адреса, то проигнорируйте это сообщение, если же подобные письма будут продолжать приходить, обратитесь в 
  <a  href="<%= contacts_path(format: :html, only_path: false) %>" title="Контакты магазина Самара-Маркет">техподдержку</a>
  нашего магазина.
</p>
<p>
  Или зайдите на страницу Вашего <a href="<%= user_path(only_path: false) %>">профиля</a> и скопируйте в поле подтверждения email этот код <b><%= @verified.token %></b>

</p>