Для подтверждение email адреса пройдите по ссылке ниже

Ссылка действует 24 часа, нельзя заказывать письмо для подтверждение email адреса более чем один раз в 10 минут.

Ссылка для подтвеждения email:
<%= data_verified_field_url(field: :email, token: @verified.token, only_path: false) %>


Если Вы не заказывали письмо для подтверждение email адреса, то проигнорируйте это сообщение, если же подобные письма будут продолжать приходить, обратитесь в техподдержку нашего магазина.

Адрес для обратной связи: support@samara-market.com .


Cсылка на страницу с контактами: <%= contacts_path(format: :html, only_path: false) %>


Или зайдите на страницу Вашего и скопируйте в поле подтверждения email код предоставленный ниже.

Ссылка на профиль: <%= user_url(only_path: false) %>

Код подтверждения: <%= @verified.token %>