- content_for(:head) do

  %title Бренды в интернт магазине

  %meta{name: 'description', contelont: 'Все бренды интернет магазина Самара-Маркет'}

  %meta{name: 'keywords', content: 'интернет магазин, купить, '+(@brands.map {|x| x.name}).join(',')}

  %link{rel: :canonical, href: brands_url(format: :html, only_path: false)}
  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/breadcrumbs/brand', locals: {page: :index}
          #brands_page
            %h1
              Бренды в интернт магазине
            %p.intro
              В нашем
              =home_link 'интернет магазине', :b 
              Вы можете найти товары от
              =@brands.count
              =Russian.p(@brands.count, 'бренда', 'брендов', 'брендов', 'бренда')
              \.
            .brands_list.thumbnails
              -@brands.each do |brand|
                .brand_block.thumbnail.align-center
                  %p.title
                    %a{href: brand_path(brand.link_rewrite, :html), title: 'Подробное описание '+brand.name}
                      =brand.name
                  -if (brand.count_visible_products.to_i > 50) and brand.logo and brand.logo.url
                    %a{href: brand_path(brand.link_rewrite, :html), title: 'Подробное описание '+brand.name}
                      %img{src: brand.logo.thumb.url, alt: brand.name, title: 'Бренд '+brand.name}
                  -if brand.count_sales_products.to_i > 0
                    %p
                      Всего в наличии
                      %a{href: brand_products_path(brand.link_rewrite, format: :html, page: nil), title: 'Показать все товары в интернет магазине '+brand.name}
                        =brand.count_sales_products
                        =Russian.p(brand.count_sales_products, 'товар', 'товара', 'товаров', 'товар')
                      -if brand.categories_count > 0
                        в
                        =brand.categories_count
                        =Russian.p(brand.categories_count.to_i, 'категории', 'категориях', 'категориях', 'категории')
                      \.
                  %p
                    -if brand.count_visible_products.to_i > 50
                      %a{href: brand_products_path(brand.link_rewrite, format: :html, page: nil), title: 'Показать все товары в интернет магазине '+brand.name}
                        Посмотреть все товары
      .columnLeft