- content_for(:head) do

  %title 
    Товары от
    = @brand.name
    =('cтраница '+params[:page].to_s if params[:page].to_i > 0).to_s

  %meta{name: 'description', content: 'Товары от '+@brand.name+'. '+@brand.meta_description.to_s+(' Страница '+params[:page].to_s if params[:page].to_i > 0).to_s}
  -
  %meta{name: 'keywords', content: @brand.name+', '+Category.where(id: @brand.categories_list).lasts.pluck(:name).join(',')}

  :javascript
    config.navigation = true
.products_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/breadcrumbs/brand', locals: {page: :products}
          #brand_products_page
            %h1.align-center
              Товары от 
              = @brand.name
            -if @brand.count_visible_products.nil? or @brand.count_visible_products.to_i < 1
              .alert.alert-error
                %p
                  К сожалению в данный момент у нас нет товаров от этого бренда.
            -else
              .categories_from_brand.well
                -categories_from_brand = Category.where(id: @brand.categories_list).lasts.to_a
                -if categories_from_brand.count > 0
                  %h2
                    =@brand.name
                    найден
                    в
                    =categories_from_brand.count
                    =Russian.p(categories_from_brand.count, 'категории', 'категориях', 'категориях', 'категории')
                    \:
                  %ul.nav.nav-pills
                    -categories_from_brand.each do |category|
                      %li
                        %a{href: category_path(category.link_rewrite, format: :html, page: nil), title: 'Категория '+category.name}
                          =category.name 
              %ul#sorting.nav.nav-tabs
                %li.title
                  Сортировать: 
                %li{class: ('active' if @filter[:sort]==:news) }
                  %a{href: brand_products_path(@brand.link_rewrite, nil, :html, types: @filter[:types], sort: :news)}
                    Новые
                %li{class: ('active' if @filter[:sort]==nil) }
                  %a{href: brand_products_path(@brand.link_rewrite, nil, :html,  types: @filter[:types], sort: nil)}
                    Дорогие
                %li{class: ('active' if @filter[:sort]==:cheap) }
                  %a{href: brand_products_path(@brand.link_rewrite, nil, :html, types: @filter[:types], sort: 'cheap')}
                    Подешевле
                %li.discount{class: ('active' if @filter[:sort]==:discount_first) }
                  %a{href: brand_products_path(@brand.link_rewrite, nil, :html, types: @filter[:types], sort: 'discount_first')}
                    Скидки вперед
                %li{class: ('active' if @filter[:sort]==:az) }
                  %a{href: brand_products_path(@brand.link_rewrite, nil, :html, types: @filter[:types], sort: 'az')}
                    А-я
                %li{class: ('active' if @filter[:sort]==:za) }
                  %a{href: brand_products_path(@brand.link_rewrite, nil, :html, types: @filter[:types], sort: 'za')}
                    Я-а                        
              .block_products_block.thumbnails.simple
                =render partial: 'web/products/preview', collection: @products, as: :product
              = paginate @products, theme: :products, window: 4, outer_window: 1
              .description.well.clearfix
                %h2.align-left
                  Коротко о бренде
                  \"
                  =@brand.name
                  \"
                -if @brand.logo and @brand.logo.url
                  .brand-logo.pull-left
                    %a{href: brand_path(@brand.link_rewrite, :html)}
                      %img{src: @brand.logo.preview.url ,alt: 'Логотип '<<@brand.name}
                =raw @brand.short_description
                .clearfix
                %a.btn.btn-large.pull-right{href: brand_path(@brand.link_rewrite, :html)}
                  Подробние о
                  =@brand.name
              .clearfix
              - content_for(:after_body) do
                :javascript
                  $(document).ready(function(){
                  ObserveResize.getInstance().add('resize_block_products_block',Helper.resize_block_products_block)
                  })
      .columnLeft
        =render partial: 'web/products/filters/types_for_brand'
        .facet_box
          -categories_from_brand = Category.where(id: @brand.categories_list).lasts.to_a
          -if categories_from_brand.count > 0
            .title
              %span
                Категории
            %ul
              -categories_from_brand.each do |category|
                %li
                  %a{href: category_path(category.link_rewrite, format: :html, page: nil), title: 'Перейти в категорию '+category.name}
                    =category.name 
