- content_for(:head) do

  %title= @brand.name

  %meta{name: 'description', content: @brand.name+' в интернет магазине Самара-Маркет. '+@brand.meta_description.to_s}

  %meta{name: 'keywords', content: @brand.name+', интернет магазин,'+@brand.meta_keywords.to_s}

  %link{rel: :canonical, href: brand_url(id: @brand.link_rewrite, format: :html, only_path: false)}
  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/breadcrumbs/brand', locals: {page: :show, brand: :@brand}
          #brand_page
            %h1= @brand.name
            .content
              -if @brand.logo and @brand.logo.url
                .brand-logo.pull-left
                  %a{href: brand_path(@brand.link_rewrite, :html)}
                    %img{src: @brand.logo.preview.url ,alt: 'Логотип '<<@brand.name}
              != @brand.description
            .clearfix
            -categories_from_brand = Category.where(id: @brand.categories_list).lasts.to_a
            -if categories_from_brand.count > 0
              %h2.align-center
                Бренд
                \"
                =@brand.name
                \"
                в интернет магазине
              .categories_from_brand.well
                %h3
                  =@brand.name
                  найден
                  в
                  =categories_from_brand.count
                  =Russian.p(categories_from_brand.count, 'категории', 'категориях', 'категориях', 'категории')
                  \:
                %ul.nav.nav-pills
                  -categories_from_brand.each do |category|
                    %li
                      %a{href: category_path(category.link_rewrite, format: :html, page: nil), title: 'Категория '+category.name}
                        =category.name
            .clearfix           
            -if @brand.count_sales_products.to_i == 0 or @brand.count_sales_products.nil?
              .alert.alert.alert-error
                %p
                  К сожалению, в данный момент, в наличии товаров от
                  =@brand.name
                  нет!
            -if @brand.count_sales_products.to_i > 0
              .products_from_brand
                %h3 
                  Всего у нас есть
                  =@brand.count_sales_products
                  =Russian.p(@brand.count_sales_products, 'товар', 'товара', 'товаров', 'товар')
                  от
                  =@brand.name
                -if @brand.count_visible_products != @brand.count_sales_products
                  .alert.alert-info
                    %p
                      Всего же у нас
                      =@brand.count_visible_products
                      =Russian.p(@brand.count_visible_products, 'товар', 'товара', 'товаров', 'товар')
                      от бренда
                      =@brand.name
                      ,из которых
                      = (@brand.count_visible_products - @brand.count_sales_products)
                      нет в наличии, но Вы всегда можете обратиться к нам и мы постараемся
                      заказать отсутствующий товар в ближайшее время.
                .block_products_block.thumbnails
                  =render partial: 'web/products/preview', collection: @brand.products.select('products.id, products.name, products.link_rewrite, products.cover_id, products.status, products.price, products.discount_type_id, products.discount_value').visible.order_stock.includes(:cover).limit(10), as: :product
                  -if @brand.count_visible_products > 10
                    .product.thumbnail.page_next
                      %a.next.well{href: brand_products_path(@brand.link_rewrite, nil, :html)}
                        Ещё
                        =@brand.count_visible_products.to_i-10
                        %span
                          →
            .clearfix
      .columnRight