-if product.discount?
  %span.label.label-discount
    -case product.discount_type_id
      -when 1
        Скидка
        =product.discount_value.ceil
        \%
      -when 2
        Дешевле на 
        =product.discount_value.ceil
        руб.
      -when 3
        Супер предложение