<form action="<%= add_to_cart_path %>" class="add_to_cart full" data-remote="" data-type="json" method="post">
<% if product.status == 30 %>
  <input name="_method" type="hidden" value="put">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token  %>" >
  <input name="product_id" type="hidden" value="<%= product.id %>">
  <label class="count_class"> Количество:
  <input name="count" type="number" class="count" value="<%= count.to_i %>"></label>
  <button autocomplete="off" class="btn btn-in-cart" data-loading-text="в полёте" type="submit"> 
    <i class="icon32-add-to-cart"></i>в корзину
  </button>
<% else %>
  <button autocomplete="off" class="btn btn-in-cart disabled" type="button"> 
    нет в наличии
  </button>
<% end %>
</form>

