.media.mini_preview_product
  %a.pull-left.cover{href: product_path(product.link_rewrite,:html), title: product.name}
    -if product.cover
      %img{src: product.cover.image.mini.url, alt: product.name+' в интернет магазине'}
    -else
      -i = ProductImages.new
      %img{src: i.image.thumb_200.url, alt: product.name}
  .media-body
    %p.name
      %a{href: product_path(product.link_rewrite,:html), title: product.name}
        =product.name
    .price
      %p.normal
        -if product.discount?
          %span.old
            =number_with_delimiter(product.price.ceil, delimiter: " ")
            р
        =number_with_delimiter(product.real_price, delimiter: " ") 
        %span.cur
          руб.
