-time_now = Time.now
.review
  .review-header
    %p.title
      =stars_ration(review.stars)
      %strong
        =review.title
    %p.author
      Написал
      =review.user_name
      =distance_of_time_in_words(time_now, review.created_at )
      назад
    -if review.period > 0
      %p.author
        Пользовался
        =review.class::PERIOD_LIST[review.period]
  .review-body
    .vote
      %a.btn.vote.up{href: product_review_vote_up_path(review.product_id, review.id), data:{remote: true, method: :post, action: :up}, title: 'Полезный отзыв'}
        %span.value
          =review.vote_up
        %i.icon-thumbs-up
      %a.btn.vote.down{href: product_review_vote_down_path(review.product_id, review.id), data:{remote: true, method: :post, action: :down}, title: 'От отзыва никакой пользы'}
        %span.value
          =review.vote_down
        %i.icon-thumbs-down
    -unless review.value.blank?
      .value_review.well
        %p.title.label.label-success
          Достоинства:
        =review.value.html_safe
    -unless review.limitations.blank?
      .limitations_review.well
        %p.title.label.label-important
          Недостатки:
        =review.limitations.html_safe
    .comment_review.well
      =review.comment.html_safe