<% if product.status == 30 %>
  <form action="<%= add_to_cart_path %>" class="add_to_cart" data-remote="" data-type="json" method="post">
  <% if count and count.to_i > 1 %>
    <input name="count" type="hidden" value="<%= count.to_i %>">
  <% end; %>

  <input name="_method" type="hidden" value="put">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token  %>" >
  <input name="product_id" type="hidden" value="<%= product.id %>">
  <button autocomplete="off" class="btn btn-in-cart" data-loading-text="в полёте" type="submit">
    <i class="icon-shopping-cart icon-white"></i>
  в корзину
  </button>
  </form>
<% else %>
  <button autocomplete="off" class="btn btn-in-cart disabled" type="button">
    <i class="icon-shopping-cart icon-white"></i>
    нет в наличии
  </button>
<% end %>