.product.thumbnail{data:{'product-id'=>product.id}}
  =render partial: 'web/products/discount', locals: {product: product}
  %a.cover{href: product_url(product.link_rewrite,:html), title: product.name}
    -if product.cover
      %img{src: product.cover.image.thumb_200.url, alt: product.name+' в интернет магазине'}
    -else
      -i = ProductImages.new
      %img{src: i.image.thumb_200.url}
  .text-center
    .title
      %a{href: product_path(product.link_rewrite,:html), title: product.name}
        =product.name
    -if product.respond_to? :brand_name
      %p.brand
        Производитель: 
        =product.brand_name
    .price
      %p.normal
        -if product.discount?
          %span.old
            =number_with_delimiter(product.price.ceil, delimiter: " ")
            руб.
        =number_with_delimiter(product.real_price, delimiter: " ") 
        %span.cur
          руб