%ul#sorting.nav.nav-tabs
  %li.title
    Сортировать: 
  %li{class: ('active' if params[:sort]==:news.to_s) }
    %a{href: category_path(@category.link_rewrite, format: :html, sort: :news, page: nil, filters: params[:filters])}
      Новые
  %li{class: ('active' if params[:sort]==nil) }
    %a{href: category_path(@category.link_rewrite, format: :html, sort: nil, page: nil, filters: params[:filters])}
      Дорогие
  %li{class: ('active' if params[:sort]==:cheap.to_s) }
    %a{href: category_path(@category.link_rewrite, format: :html, sort: 'cheap', page: nil, filters: params[:filters])}
      Подешевле
  %li.discount{class: ('active' if params[:sort]==:discount_first.to_s) }
    %a{href: category_path(@category.link_rewrite, format: :html, sort: 'discount_first', page: nil, filters: params[:filters])}
      Скидки вперед
  %li{class: ('active' if params[:sort]==:az.to_s) }
    %a{href: category_path(@category.link_rewrite, format: :html, sort: 'az', page: nil, filters: params[:filters])}
      А-я
  %li{class: ('active' if params[:sort]==:za.to_s) }
    %a{href: category_path(@category.link_rewrite, format: :html, sort: 'za', page: nil, filters: params[:filters])}
      Я-а
.block_products_block.thumbnails
  =render partial: 'web/products/preview', collection: products, as: :product

= paginate query.hits, theme: :products, window: 4, outer_window: 1

-if products.size > 2
  - content_for(:after_body) do
    :javascript
      $(document).ready(function(){
        ObserveResize.getInstance().add('resize_block_products_block',Helper.resize_block_products_block)
      })