-product_type = ProductsType.select('id, name, description, link_rewrite').find(@product.type_id)
-product_brand = Brand.select('id, name, short_description, logo, link_rewrite').find(@product.brand_id)
-category = @product.categories.select('categories.id,categories.name,categories.link_rewrite, categories.lft, categories.rgt, categories.parent_id').group('categories.depth DESC').first

- content_for(:head) do

  %title 
    = @product.name

  %meta{name: 'description', content: (@product.meta_description.blank? ? @product.name : @product.meta_description)+'. '+product_type.name+' от '+product_brand.name+' в интернет магазине Самара-Маркет за '+price_default(@product.real_price)}

  %meta{name: 'keywords', content: 'купить, цена,интернет магазин, '+@product.name+', '+@product.name+' в интернет магазине,'+product_type.name.to_s+','+@product.name.split(' ').join(',')+','+@product.meta_keywords.to_s}

  %link{rel: :canonical, href: product_url(id: @product.link_rewrite, format: :html, only_path: false)}

  :javascript
    config.navigation = true

#product_card{itemscope:true, itemtype:'http://schema.org/Product'}
  -if category
    %ul.breadcrumb
      %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href: root_path(only_path: false), itemprop: :url} 
          %span{itemprop:'title'}
            Интернет магазин
        %span.divider /
      - category.ancestors.select('id,name,link_rewrite, lft, rgt').where('depth <> 0').each do |c|
        %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'}
          %a{ href: category_path(c.link_rewrite,format: :html, page: nil), itemprop: :url}
            %span{itemprop:'title'}
              =c.name
          %span.divider /
      %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href:category_path(category.link_rewrite,format: :html, page: nil), itemprop: :url} 
          %span{itemprop:'title'}
            =category.name
        %span.divider /
      %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href:product_path(@product.link_rewrite,format: :html), itemprop: :url} 
          %span{itemprop:'title'}
            =@product.name
  .pageWrap
    .pageContainer
      .columnRight
        .add_cart
          %p.price{itemprop:'offers', itemscope:true, itemtype:'http://schema.org/Offer'}
            Цена:
            %span{itemprop:'price'}
              =number_with_delimiter(@product.real_price.ceil, delimiter: " ")
              руб.
            %meta{itemprop:'priceCurrency', content:'RUB'}
              -if @product.status == 30
                %link{itemprop:'availability', href:'http://schema.org/InStock'}
              -else
                %link{itemprop:'availability', href:'http://schema.org/OutOfStock'}
          =render partial: 'web/products/full_add_cart', locals: {product: @product, count: 1}
        .content
          %h1{itemprop:'name'}
            =@product.name
          .separator
          %p.info_o
            ID:
            %span{itemprop:'productID'}
              =@product.id
          %p.info_o
            Тип:
            %span
              %a{href: type_path(product_type.link_rewrite, :html), title: 'Подробнее о типе '+product_type.name}
                %em
                  =product_type.name
          %p.info_o
            Производитель:
            %a{href: brand_path(product_brand.link_rewrite, :html), title: product_brand.name}
              %span
                =product_brand.name
          .separator
          %p.price
            Цена:
            -if @product.price == @product.real_price
              %span.normal
                =number_with_delimiter(@product.real_price.ceil, delimiter: " ")
                руб.
            -else
              %span.old
                =number_with_delimiter(@product.price.ceil, delimiter: " ")
                руб.
              %span.normal.new
                =number_with_delimiter(@product.real_price.ceil, delimiter: " ")
                руб.
              %span.d
                (дешевле на 
                =number_with_delimiter(@product.price.ceil - @product.real_price.ceil, delimiter: " ")
                руб.
                )
          .add_cart_spare
            =render partial: 'web/products/simple_add_cart', locals: {product: @product, count: 1}
          .separator
          .short_description{itemprop:'description',style:'max-width:780px'}
            =raw @product.short_description
          %a{itemprop:'url', 'href'=>product_url(@product.link_rewrite, :html, only_path: false)}
          .product_card_footer
            %button#add_review_button.btn.btn-info{type: :button}
              Оставить отзыв
            -if @product.count_reviews > 0
              %a.btn{href: '#product_reviews_product_page'}
                Почитать отзывы (
                =@product.count_reviews
                )
      .columnLeft.images_box
        -images = @product.images.select('id, image').to_a 
        -if images.size > 0
          %a{href:images.first.image.extra.url, title: @product.name}
            %img{src: images.first.image.large.url, alt: 'Предпросмотр товара '<<@product.name, itemprop:'image'}
          %ul.thumbnails

            -images.each do |image|
              %li
                %a{href:image.image.extra.url, class: 'thumbnail', title: @product.name}
                  %img{src: image.image.micro.url, alt: 'Предпросмотр товара '<<@product.name}
              -cover = image if image.id == @product.cover_id

.pageWrap.rightFixed#product_card_extra
  .pageContainer
    .columnLeft
      .content
        .product_features.clearfix
          %h2 
            =@product.name
            &ndash; свойства 
          %table.table.table-striped
            %caption
              Характеристики и комплектация
            %tbody
              %tr
                %td.property
                  Производитель:
                %td.values
                  =product_brand.name
              %tr
                %td.property
                  Тип товара:
                %td.values
                  =product_type.name
              %tr
                %td.property
                  Модель:
                %td.values
                  =@product.model_name
              -@product.properties.select('`product_properties`.`id`,`products_type_properties`.`unit` as `unit`, `product_properties`.`property_id`, `products_type_properties`.`name` as `name`').joins(:meta).includes(:values).order('`products_type_properties`.`position`').each do |property|
                -if property.values.to_a.size > 0
                  %tr
                    %td.property
                      =property.name
                      \:
                    %td.values
                      -if property.values.to_a.size == 1
                        =raw property.values[0].value
                        =property.unit
                      -elsif property.values.to_a.size > 1
                        %ul
                          -property.values.each do |v|
                            %li
                              &mdash;
                              =v.value
                              =property.unit
                      -else
                        &mdash;

        .product_description.clearfix
          -unless @product.description.blank?
            %h2 
              =@product.name
              &ndash; и ещё немного...
            .content
              =raw @product.description

        -unless product_type.description.blank?
          .type_description.product_description_extra.clearfix
            %p.title 
              Коротко о типе
              \"
              %em 
                =product_type.name
              \"
            .content
              =raw product_type.description
            %a.btn.btn-large{href: type_path(product_type.link_rewrite, :html), title: 'Подробнее о типе '+product_type.name}
              Подробнее о типе
              =product_type.name
        -unless product_brand.short_description.blank?
          .brand_description.product_description_extra.well.clearfix
            %p.title
              %b
                =product_brand.name
            .content
              -if product_brand.logo and product_brand.logo.url
                .brand-logo
                  %a{href: brand_path(product_brand.link_rewrite, :html)}
                    %img{src: product_brand.logo.preview.url ,alt: 'Логотип '<<product_brand.name}
              =raw product_brand.short_description
            %a.btn.pull-right.btn-large{href: brand_path(product_brand.link_rewrite, :html), title: product_brand.name}
              На страницу 
              =product_brand.name
        -if @product.count_reviews > 0
          #product_reviews_product_page.product_description_extra.clearfix
            %p.title 
              Отзывы о
              %b
              = @product.name.gsub(product_type.name,'')
            =render partial: 'review',  collection: @product.reviews.order('product_reviews.id DESC')


    .columnRight
      -cache('product_page_like_products_'+@product.type_id.to_s) do
        -like_products = Product.select('products.id, products.name, products.link_rewrite, products.cover_id, products.price, products.discount_type_id, products.discount_value').in_stock.includes(:cover).where(type_id: @product.type_id).limit(15).order_by_last_views.order('RAND()').to_a
        -if like_products.any?
          .module.like_products_by_type
            %p.title
              %span
                Похожие
            =render partial: 'web/products/mini_preview', collection: like_products, as: :product
          :javascript
            $(document).ready(function(){
              like_products = $('.like_products_by_type .mini_preview_product').get()
              max_like_products = Math.floor(($('#product_card_extra .columnLeft').height())/100)
              if(max_like_products < like_products.length) {
                $(like_products.reverse().slice(0,(like_products.length-max_like_products))).hide()
              }
            })
:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $.post('/i_product_view/#{@product.id}')
    },3000)
  })
%script 
  SM_PRODUCT_TPL = {}
  ;SM_PRODUCT_TPL['review_window'] =
  =render file: 'web/products/templates_js/comment_form'
  ;SM_PRODUCT_DATA = 
  =@product.to_json(only:[:id,:name]).html_safe
  ;
  =render file: 'web/products/js/show'