<% if adwords.count > 1 %>
  <script> $(document).ready(function() {$('#PromoCarousel').s_carusel()})</script>
<% end %>
<div id="PromoCarousel" class="s_carousel">
  <div class="s_carousel_wrap">

      <% i = 0; adwords.each do |adword| %>
        <div class="item" data-id="<%= adword.id %>" style="
          background-color:#<%= adword.background_color %>;
          <% if adword.background %>
            background-image:url(<%= adword.background.url %>);
            background-repeat:<%= CategoryAdvertising::BACKGROUND_REPEAT[adword.background_repeat] %>;
          <% end %>
        ">
          <a class="banner" href="<%= url_adwords(adword) %>" style="background-image:url(<%= adword.image.url %>); margin-right: <%= (adwords.count > 1) ? 130 : 0 %>px;"></a>
        </div>
        <% if adwords.count > 1 %>
          <style> .s_carousel > .s_carousel_wrap > a.bookmark.bookmark<%= adword.id %>.active:before {border-right-color: #<%= adword.background_color %>;} </style>
          <a href="#" data-id="<%= adword.id %>" class="bookmark bookmark<%= adword.id %>" style="background-color:#<%= adword.background_color %>; top:<%= (75*i)+(((4-adwords.count)*75)/2) %>px"><%= adword.name %></a>
        <% end %>
        <% i=i+1; %>
      <% end %>

  </div>
</div>