%ul.breadcrumb
  %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
    %a{ href: root_path(only_path: false), itemprop: :url} 
      %span{itemprop:'title'}
        интернет магазин
    %span.divider /
  -if page == :index
    %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'}
      %a{ href: brands_path(:html), itemprop: :url}
        %span{itemprop:'title'}
          Все бренды
  -else
    %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'}
      %a{ href: brands_path(:html), itemprop: :url}
        %span{itemprop:'title'}
          Все бренды
      %span.divider /
    -if page == :show
      %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href: brand_path(@brand.link_rewrite, :html), itemprop: :url}
          %span{itemprop:'title'}
            =@brand.name
    -else
      %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href: brand_path(@brand.link_rewrite, :html), itemprop: :url}
          %span{itemprop:'title'}
            =@brand.name
        %span.divider /
      %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href: brand_products_path(@brand.link_rewrite, nil, :html), itemprop: :url}
          %span{itemprop:'title'}
            Товары от 
            =@brand.name