%ul.breadcrumb
  %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
    %a{ href: root_path(only_path: false), itemprop: :url} 
      %span{itemprop:'title'}
        интернет магазин
    %span.divider /
  - @category.ancestors.select('id,name,link_rewrite, lft, rgt').where('depth <> 0').each do |category|
    %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'}
      %a{ href: category_path(category.link_rewrite,format: :html, page: nil), itemprop: :url}
        %span{itemprop:'title'}
          =category.name
      %span.divider /
  %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
    %a{ href:category_path(@category.link_rewrite,format: :html, page: nil), itemprop: :url} 
      %span{itemprop:'title'}
        =@category.name