%ul.breadcrumb
  %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
    %a{ href: root_path(only_path: false), itemprop: :url} 
      %span{itemprop:'title'}
        интернет магазин
    %span.divider /
  -if page == :index
    %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'}
      %a{ href: types_path(:html), itemprop: :url}
        %span{itemprop:'title'}
          Все типы товаров
  -else
    %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'}
      %a{ href: types_path(:html), itemprop: :url}
        %span{itemprop:'title'}
          Все типы товаров
      %span.divider /
    -if page == :show
      %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href: type_path(@type.link_rewrite, :html), itemprop: :url}
          %span{itemprop:'title'}
            =@type.name
    -else
      %li{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href: type_path(@type.link_rewrite, :html), itemprop: :url}
          %span{itemprop:'title'}
            =@type.name
        %span.divider /
      %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
        %a{ href: type_products_path(@type.link_rewrite, nil, :html), itemprop: :url}
          %span{itemprop:'title'}
            Все товары