%table.nav_pop{data:{'open'=>'no'}, id: (id if id)}
  %tbody
    %tr
      %td.nav_pop.border_l
      %td.content
        = yield
      %td.nav_pop.border_r
    %tr
      %td.nav_pop.angle_l
      %td.nav_pop.border_b
      %td.nav_pop.angle_r