- content_for(:head) do

  %title Товары интернт магазина

  %meta{name: 'description', contelont: 'Все типы товаров предлагаемые интернет магазином Самара-Маркет'}

  %meta{name: 'keywords', content: 'интернет магазин, '+(@types.map {|x| x.name}).join(',')}

  %link{rel: :canonical, href: types_url(format: :html, only_path: false)}
  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})
.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/breadcrumbs/type', locals: {page: :index}
          #types_page  
            %h1
              Товары интернт магазина
            %p
              В таблице предоставленны все типы товаров предлагаемых в нашем
              %b
                интернет магазине
              , а так же количество и производители.
            .types_list
              -cache('table_types_list_'+@types.sum('updated_at').to_s) do
                %table.table.table-bordered
                  -letter = nil
                  -t_brands = Brand.where(id:  (@types.map{|t| t.brands_ids}).uniq).select('id,name, link_rewrite')
                  -brands = []
                  -for i in t_brands
                    -brands[i.id] = i
                  %thead
                    %tr
                      %th.name{colspan: 2}
                        Наименовние типа
                      %th.total
                        Товары
                      %th.brands
                        Бренды  
                  %tbody
                    -@types.each do |type|
                      -if type.name[0] != letter
                        -letter = type.name[0]
                        %tr
                          %td.letter{rowspan: count_equal_first_laters(@types, type)}
                            = letter
                          %td.name
                            %a{href: type_path(type.link_rewrite, :html), title: 'Подробние о '+type.name}
                              =type.name
                          %td.total
                            -if type.products_count.to_i > 0
                              %a{href: type_products_path(type.link_rewrite, page: nil, format: :html), title: 'Показать все товары '+type.name}
                                =type.products_count
                            -else
                              0
                          %td
                            -type.brands_ids.to_a.each do |b|
                              %a{href: brand_path(brands[b].link_rewrite, :html)}
                                =brands[b].name
                              |
                      -else
                        %tr
                          %td.name
                            %a{href: type_path(type.link_rewrite, :html), title: 'Подробние о '+type.name}
                              =type.name
                          %td.total
                            -if type.products_count.to_i > 0
                              %a{href: type_products_path(type.link_rewrite, page: nil, format: :html), title: 'Показать все товары типа '+type.name}
                                =type.products_count
                            -else
                              0
                          %td
                            -type.brands_ids.to_a.each do |b|
                              %a{href: brand_path(brands[b].link_rewrite, :html)}
                                =brands[b].name
                              |
      .columnRight
