- content_for(:head) do

  %title 
    Все товары типа
    = @type.name
    =(' cтраница '+params[:page].to_s if params[:page].to_i > 0).to_s

  %meta{name: 'description', content: 'Товары типа '+@type.name+'. '+@type.meta_description.to_s+(' Страница '+params[:page].to_s if params[:page].to_i > 0).to_s}
  -
  %meta{name: 'keywords', content: @type.name+', '+@brands.map{|b| b.name}.join(',')}

  :javascript
    config.navigation = true
.products_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/breadcrumbs/type', locals: {page: :products}
          #type_products_page
            %h1.align-center
              Все товары типа 
              = @type.name
            -if @type.products_count < 1
              .alert.alert-error
                %p
                  К сожалению в данный момент у нас нет товаров этого типа.
            -else
              %p.intro
                Всего же в нашем
                =home_link 'интернет магазине' 
                Вы можете найти 
                =@type.products_count
                =Russian.p(@type.products_count, 'товар', 'товара', 'товаров', 'товара')
                типа
                =@type.name
                \.
              %ul#sorting.nav.nav-tabs
                %li.title
                  Сортировать: 
                %li{class: ('active' if params[:sort]==:news.to_s) }
                  %a{href: type_products_path(@type.link_rewrite, format: :html, sort: :news, page: nil, filters: params[:filters])}
                    Новые
                %li{class: ('active' if params[:sort]==nil) }
                  %a{href: type_products_path(@type.link_rewrite, format: :html, sort: nil, page: nil, filters: params[:filters])}
                    Дорогие
                %li{class: ('active' if params[:sort]==:cheap.to_s) }
                  %a{href: type_products_path(@type.link_rewrite, format: :html, sort: 'cheap', page: nil, filters: params[:filters])}
                    Подешевле
                %li.discount{class: ('active' if params[:sort]==:discount_first.to_s) }
                  %a{href: type_products_path(@type.link_rewrite, format: :html, sort: 'discount_first', page: nil, filters: params[:filters])}
                    Скидки вперед
                %li{class: ('active' if params[:sort]==:az.to_s) }
                  %a{href: type_products_path(@type.link_rewrite, format: :html, sort: 'az', page: nil, filters: params[:filters])}
                    А-я
                %li{class: ('active' if params[:sort]==:za.to_s) }
                  %a{href: type_products_path(@type.link_rewrite, format: :html, sort: 'za', page: nil, filters: params[:filters])}
                    Я-а
              .block_products_block.thumbnails.simple
                =render partial: 'web/products/preview', collection: @products, as: :product
              = paginate @query.hits, theme: :products, window: 4, outer_window: 1
              - content_for(:after_body) do
                :javascript
                  $(document).ready(function(){
                  ObserveResize.getInstance().add('resize_block_products_block',Helper.resize_block_products_block);
                  $('.facet_box .remove_this_filter').click(function(){
                    $(this).parents('.facet_box:first').find('input:checked').prop('checked', false)
                    return false;
                    })
                  })

      .columnLeft
        .facet_search
          %form.form{method: :get, action: type_products_path(@type.link_rewrite, format: :html, page: nil)}
            -if params[:sort]
              %input{type: :hidden, name: :sort, value: params[:sort]}
            -if @brands.count > 0          
              .facet_box.brands
                %a.remove_this_filter{href: '#', title: "Снять галочки со всех брендов"}
                  %i.icon-remove
                .title
                  %span
                    %a{href: brands_path(:html), title: 'Посмотреть все бренды'}
                      Бренды
                %ul
                  -@brands.each do |brand|
                    %li 
                      %label.checkbox
                        %input{type: :checkbox, name: 'filters[brands][]', value: brand.id, checked: params[:filters][:brands].to_a.include?(brand.id.to_s)}
                        =brand.name
            -if @type.properties.where(is_filter: true).count > 0
              #facet_search
                -@type.properties.where(is_filter: true).each do |prop|
                  -if @query.facet(:properties,prop.id).rows.count > 1
                    .facet_box  
                      %a.remove_this_filter{href: '#', title: "Снять галочки для #{prop.name}"}
                        %i.icon-remove
                      .title
                        %span
                          =prop.name
                      -values = @query.facet(:properties,prop.id).rows.sort_by{|x| x.value}.partition{|v| !v.count.zero?} 
                      %ul
                        -(values[0] + values[1]).each do |data|
                          %li
                            -if data.count.zero?
                              %label.checkbox.muted
                                %input{disabled: true, name: "filters[#{prop.id}][]", type: :checkbox, value: data.value}
                                =raw "#{data.value} #{prop.unit} (#{data.count})"
                            -else
                              %label.checkbox
                                %input{checked: params[:filters][prop.id.to_s].to_a.include?(data.value), name: "filters[#{prop.id}][]", type: :checkbox, value: data.value}
                                =raw "#{data.value} #{prop.unit} (#{data.count})"
              %button#clean_facet_form.btn{type: :reset}
                %i.icon-remove
                Снять все
              %button.btn.btn-info{type: :submit}
                %i.icon-filter.icon-white 
                Фильтр