- content_for(:head) do

  %title= @type.name

  %meta{name: 'description', contelont: 'Описание типа '+@type.name+' от интернет магазина Самара-Маркет. '+@type.meta_description.to_s}

  %meta{name: 'keywords', content: @type.name+',купить,интернет магазин,'+@type.meta_keywords.to_s}

  %link{rel: :canonical, href: type_url(@type.link_rewrite, format: :html, only_path: false)}
  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})
.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/breadcrumbs/type', locals: {page: :show}
          #type_page 
            %h1= @type.name
            .content
              -unless @type.description.blank?
                %h2
                  Описание продукта
                  \"
                  =@type.name
                  \"
                %p
                  Описание типа товара - 
                  \"
                  =@type.name
                  \"
                  от
                  %b
                    интернет магазина
                  \.
                .description
                  =raw @type.description
              -if @type.properties.any?
                %h2
                  Свойства и характеристики
                .properties_description
                  -@type.properties.each do |prop|
                    %h3
                      =prop.name
                    .description
                      =raw prop.description
              -if @type.brands_ids.to_a.any?
                %h2
                  Производители
                %p.intro
                  =home_link 'Интернет магазин', :b 
                  Самара-Маркет предоставляет данный товар от
                  =@type.brands_ids.to_a.count
                  =Russian.p(@type.brands_ids.count, 'бренда', 'брендов', 'брендов', 'бренда')
                  \.
                .brands_list.well
                  %ul.nav.nav-pills
                    -Brand.where(id: @type.brands_ids).select('id,name,link_rewrite').each do |brand|
                      %li
                        %a{href: brand_path(brand.link_rewrite, :html), title: 'Описание бренда '+brand.name}
                          =brand.name
                .block_products_block.thumbnails
                  %p.intro
                    Всего же в нашем
                    =home_link 'интернет магазине' 
                    Вы можете найти 
                    =@type.products_count
                    =Russian.p(@type.products_count, 'товар', 'товара', 'товаров', 'товара')
                    типа
                    =@type.name
                    \.
                  =render partial: 'web/products/preview', collection: @type.products.select('products.id, products.name, products.link_rewrite, products.cover_id, products.status, products.price, products.discount_type_id, products.discount_value').visible.order_stock.includes(:cover).limit(10), as: :product
                  -if @type.products_count > 10
                    .product.thumbnail.page_next
                      %a.next.well{href: type_products_path(@type.link_rewrite, nil, :html)}
                        Ещё
                        =@type.products_count.to_i-10
                        %span
                          →
      .columnRight 