!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1.0'}
    %title Самара-Маркет - комната администратора
    =csrf_meta_tags
    =stylesheet_link_tag 'admin/application', media: 'all'
    %script
      window.base_url = "/the_simpsons_admin"
      window.model_url = "/the_simpsons_admin"
    %script{src:'//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    //%script{src:'http://cssrefresh.frebsite.nl/js/cssrefresh.js'}
    =javascript_include_tag 'admin/application'
    %script
      window.Collection = {
      categories: new SmAdmin.Collections.Categories(),
      CategoriesAdwords: new SmAdmin.Collections.CategoriesAdwords(),
      ProductsSuppliers: new SmAdmin.Collections.ProductsSuppliers(),
      Brands: new SmAdmin.Collections.Brands(),
      ProductsTypes: new SmAdmin.Collections.ProductsTypes(),
      Products: new SmAdmin.Collections.Products(),
      Groups: new SmAdmin.Collections.ProductsGroups
      }
      window.Collection.categories.reset(
      =raw Category.tree.to_json
      )
      window.Collection.CategoriesAdwords.reset(
      =raw CategoryAdvertising.all.to_json
      )
      window.Collection.ProductsSuppliers.reset(
      =raw ProductsSupplier.all.to_json
      )
      window.Collection.Brands.reset(
      =raw Brand.order(:name).all.to_json
      )
      window.Collection.ProductsTypes.reset(
      =raw ProductsType.order(:name).all.to_json
      )
      window.Collection.Groups.reset(
      =raw ProductsGroup.order(:name).all.to_json
      )
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav#main_navigation
            %li
              %a{href:'#catalog', title:'Каталог товаров, брендов, поставщиков'}
                =image_tag(image_path('admin/icon/workflow_32x32.png'))
                %strong Торговый каталог
            %li
              %a{href:'#content', title:'КОнтент, реклама, баннеры и т.д.'}
                =image_tag(image_path('admin/icon/database_32x32.png'))
                %strong Материалы
            %li
              %a{href:'#orders', title:'Заказы'}
                =image_tag(image_path('admin/icon/cart_32x32.png'))
                %strong Заказы
            %li
              %a{href:'#users', title:'Пользователи'}
                =image_tag(image_path('admin/icon/user_32x32.png'))
                %strong Пользователи
            %li
              %a{href:'#stats', title:'Статистика магазина'}
                =image_tag(image_path('admin/icon/line_chart_32x32.png'))
                %strong Статистика
            %li
              %a{href: admin_logout_path, title:'Выход'}
                %strong Выход
    #container.row-fluid
  #loading
    %p Загрузка...