// Buttons
//*****************************************************************************
$btnSuccessBackground:              #51a351;
$btnSuccessBackgroundHighlight:     #10a822;


//Fonts
//*****************************************************************************
$baseFontFamily:                      Helvetica, Arial, sans-serif;;


// Images
//*****************************************************************************
$image_sm_icon:                       asset-url("sm-ico.png", image);
$image_social_icon:                   asset-url("social_icons.png", image);

// Colors
//*****************************************************************************
$color_S_orange:                      #FF5800;

// Colors for Nav-Bar
//-------------------------------------
$navbarBackgroundHighlight:           #48A1FA;
$navbarBackground:                    darken($navbarBackgroundHighlight, 25%);


// Color Links
$linkColor:                           #2871AD;
$linkColorHover:                      #F25405;


//Colors for Buttons
$btnOrangeBackgroundHighlight:        #F25405;
$btnOrangeBackground:                 lighten($btnOrangeBackgroundHighlight, 15%);
$btnPrimaryBackground:                $navbarBackgroundHighlight;
$btnPrimaryBackgroundHighlight:       $navbarBackground;


//Nav-Bar
//--------------------------------------------------------------------------
$navBarBorderRadius:                  4px;
$navCatalogList:                      370px;



// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           1px 6px;   // 24px

$baseBorderRadius:      4px;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;