/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize.css
 */

@import "bootstrap/variables";
@import "_variables";
@import "bootstrap/mixins";
@import "_mixins";


@import "bootstrap/reset";

@import "tools";
//@import "bootstrap/scaffolding";
@import "grid";
//@import "bootstrap/layouts";

// Base CSS
@import "bootstrap/type";
//@import "bootstrap/code";
@import "forms";
@import "tables";

// Components: common
@import "sprites";
@import "dropdowns";
@import "bootstrap/wells";
@import "bootstrap/component-animations";
@import "bootstrap/close";

// Components: Buttons & Alerts
@import "buttons";
//@import "bootstrap/button-groups";
@import "alert"; // Note: alerts share common CSS with buttons and thus have styles in _buttons.scss

// Components: Nav
@import "navs";
@import "navbar";
@import "breadcrumbs";
@import "pagination";
@import "nav-pop";
@import "bootstrap/media";
//@import "bootstrap/pager";

// Components: Popovers
@import "bootstrap/modals";
@import "bootstrap/tooltip";

.tooltip {
  font-size: 1em;
}

@import "popovers";

// Components: Misc
@import "thumbnails";
@import "labels-badges";
//@import "bootstrap/progress-bars";
@import "bootstrap/accordion";
@import "s_carousel";
//@import "bootstrap/carousel";
//@import "bootstrap/hero-unit";

// Utility classes
@import "bootstrap/utilities"; // Has to be last to override when necessary


a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
  min-width: 767px;
}


.align-left {
  text-align: left;
}
.align-right {
  text-align: right
}
.align-center {
  text-align: center;
}
// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}


// Images
// -------------------------

// Rounded corners
.img-rounded {
  @include border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  @include box-shadow(#{0 1px 3px rgba(0,0,0,.1)});
}

// Perfect circle
.img-circle {
  @include border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}
.clear {
  clear: both;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}


.loader {
  img {
    display: block;
    margin: 60px auto;
  }
}

@import "products";
@import "categories";
@import "cart";
@import "authWindow";
@import "order";
@import "brand";
@import "types";
@import "user/index";
@import "addresses/index";
@import "addresses/form";
@import "ratio_stars";
@import "recovery_password";
@import "footer";
@import "scroll_panel";
@import "jq_ui";
@import "index_page";
@import "header";
@import "content.scss";
@import "popular_products.scss";

#goto_header {
  position: fixed;
  left: -9999px;
  bottom: 60px;
  z-index: 9999;
  color: #fff;
  font-size: 1.6em;
  padding: 8px 12px;
  @include opacity(55);
  *zoom: 1;
  @include border-radius(6px);
  background: $navbarBackground;
  &.affix {
    left: 60px;
  }
  &:hover{
    text-decoration: none;
    @include opacity(100);
  }
}
.mask_white {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 9999px;
  left: 0;
  z-index: 998;
  @include opacity(65);
  background-color: white;
}
.content p.intro {
  margin: 20px 0 20px 20px;
  font-size: 1.2em;
}
a.link_home {
  color: $textColor;
}

.modal.content {
  width: 650px;
  margin: -250px 0 0 -350px;
  margin-top: 0px;
  top: 7%;
  padding: 20px;
  position: absolute;
  .modal-body {
    padding: 15px 0;
  }
}

#contacts {
  .phones {
    .phones_list li {
      font-size: 1.5em;
      line-height: 1.8em;
    }
  }
}

@import "static";
.hr {
  width: 96%;
  border-bottom: 2px solid #B4B4B5;
  margin: 20px auto;
}