#authNotWindow {
  width: 650px;
  margin: 0 auto;
}
#authWindow {
  width: 650px;
  margin: -250px 0 0 -350px;
  margin-top: 0px;
  top: 7%;
  padding: 20px;
  position: absolute;
  .modal-body {
    padding: 15px 0;
  }
}
#authWindowTab, #authNotWindowTab {
  li {
    font-size: 1.4em;
    &.active {
      font-size: 1.8em;
    }
  }
}
#authWindowNew, #authWindowOld, #authNotWindowNew, #authNotWindowOld {
  form .control-group {
    label.control-label {
      width: 80px;
    }
    .controls {
      margin-left: 90px;
      &.input-prepend {
        margin-left: 10px;
      }
      input.phone {
        width: 180px;
      }
    }
  }
}
#authWindowOld, #authNotWindowOld {
  .control-group.actions {
    button {
      margin-right: 10px;
    }
    label {
      margin-top: 5px;
      margin-left: 90px;
    }
  } 
}
.auth-oauth-providers {
  .nav.link-social {
    height: 50px;
    li {
      display: block;
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      a {
        display:block;
        width: 50px;
        height: 50px;
        background-image: $image_social_icon;
        background-repeat: no-repeat;
        &.facebook{
          background-position: 0px 0px;
        }
        &.mailru{
          background-position: -50px 0px;
        }
        &.twitter{
          background-position: -100px 0px;
        }
        &.vkontakte{
          background-position: -150px 0px;
        }
        &.yandex{
          background-position: -200px 0px;
        }
        &.google{
          background-position: -250px 0px;
        }
      }
    }
  }
}