#brand_page {
  & > .content {
    //height: 200px;
  }
  .brand-logo {
    padding: 0 20px 20px 0;
  }
  .categories_from_brand {
    ul.nav {
      li {
        margin-left: 15px;
        a {
          font-size: 1.6em;
        }
      }
    }
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.6em;
  }
}
#brand_products_page {
  h2 {
    font-size: 1.8em;
  }
  .categories_from_brand {
    ul.nav {
      li {
        margin-left: 15px;
        a {
          font-size: 1.6em;
        }
      }
    }
  }
  .description {
    .brand-logo {
      padding: 0 20px 20px 0;
    }
  }
}
#brands_page {
  .brands_list {
    margin-left:0px;
    margin-top: 30px;
    .brand_block {
      p.title {
        font-size: 1.6em;
        font-weight: bold;
        color: #0055AB;
      }
      padding: 15px;
      float: left;
      margin: 20px 20px 0 0;
      width: 220px;
      img {
        display: block;
        margin: 10px auto;
      }
    }
  }
}