//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 $baseLineHeight;
  list-style: none;
  li {
    display: inline-block;
    @include ie7-inline-block();
    text-shadow: 0 1px 0 $white;
    font-size: 1.3em;
  }
  .divider {
    padding: 0 5px;
    color: #ccc;
  }
  .active, .active a {
    color: $grayLight;
    text-decoration: none;
    cursor: default;
  }
}