#cart_preview {
  right: 10px;
  padding: 10px;
  width: 500px;
  p.title {
    font: {
      size: 1.4em;
      weight: bold;
    }
    a {
      font-size: 0.8em;
      font-weight: normal;
      float: right;
    }
  }
  p.sum {
    text-align: right;
    margin-top: 0.8em;
    font-size: 1.3em;
    a {
      float: left;
    }
    span {
      font-size: 1.1em;
    }
  }

  ul {
    margin-top: 1em;
    li {
      border-top: 1px solid #ddd;
      padding-top: 0.8em;
      margin-top: 0.5em;
      font-size: 1.2em;
      text-align: right;
      &.not:hover{
        @include opacity(100)
      }
      &.not {
        @include opacity(60);
        text-decoration: line-through;

      }
      a {
        float: left;
      }
    }
  }
}
#cartTabContent {
  width: 740px;
  margin: 0 auto;
}
#cartTab {
  margin: 30px 0 30px 5px;
  font-size: 1.2em;
}
#products_not_ready {
  table.products {
    td.name {

    }
    td {
      &.actions{
        width: 200px;
      }
      &.cover {
        width: 80px;
        img {
          width: 80px;
          height: 80px;
          display: block;
        }  
      }
      &.name {
        a {
          font-size: 1.2em;
          color: #121;
          text-decoration: underline;
          &:hover {
            color: $linkColorHover;
          }
        }
        ins {
          cursor: help;
          font-size: 0.8em;
          text-decoration: none;
        }
      }
    }
  }
}
#cart_page {
  & > .pageWrap {
    padding-left: 250px;
    & > .pageContainer > .columnLeft {
      width: 250px;
    }
    & > .pageContainer > .columnRight {
     & > .content {
        margin: 0;
      } 
    }
  }
  & > .pageWrap > .pageContainer > .columnRight > .extra_products {
    float: right;
    width: 250px;
    margin-top: 20px;
    display: none;
  }
  padding: 10px;
  #cart_list_wrap {
    width: 730px;
    padding: 5px;
    background: #2395F3;
    //@include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
    @include border-radius($navBarBorderRadius);
    @include box-shadow(#{0 1px 4px rgba(0,0,0,.75)});
    .begin_order {
      margin-bottom: 15px;
      .action {
        width: 400px;
        float: left;
        display: none;
        color: #fff;
        font-size: 1.2em;
        padding: 7px 15px;
        .btn {
          margin-left: 15px;
        }
      }
      .order {
        text-align: right;
      }
    }
  }
  #cart_list {
    tr {
      &.selected {
        td {
          background: #E1EDF7;
        }
      }
      th.select {
        input {
          margin: 0 0 0 7px;
        }
      }
      th.main {
        color: #fff;
        span.title {
          font-size: 1.4em;
        }
      }
      td {
        background: #fff;
        vertical-align: middle;
        padding: 5px;
        border-top: 1px solid #CDDDED;
        span.disc {
          font-size: 0.8em;
          color: #387432;
        }
        &.select {
          width: 30px;
          input {
            margin: 0 0 0 10px;
          }
        }
        &.cover {
          width: 80px;
          img {
            width: 80px;
            height: 80px;
            display: block;
          }  
        }
        &.name {
          a {
            font-size: 1.2em;
            color: #121;
            text-decoration: underline;
            &:hover {
              color: $linkColorHover;
            }
          }
          ins {
            cursor: help;
            font-size: 0.8em;
            text-decoration: none;
          }
        }
        &.price {
          text-align: right;
          width: 100px;
        }
        &.count {
          width: 50px;
          text-align: center;
        }
        &.sum {
          width: 110px;
          text-align: right;
        }
      }
      &.result {
        td.text, td.sum {
          text-align: right;
          padding: 20px 10px;
        }
      }
      &.total {
        td.text{
          font-size: 1.20em;
        }
        td.sum {
          font-size: 1.20em;
          font-weight: bold;
          color: #387432;
        }
      }
    }
  }
}
.cart_count_form {
  margin: 0;
  position: absolute;
  width: 210px;
  text-align: center;
  padding: 10px;
  button.minus, button.plus {
    padding: 3px 8px;
  }
  input.count {
    width: 50px;
    text-align: center;
  }
}

@media (max-width: 1047px) {
  #cart_page {
    .pageWrap {
      padding: 0;
      & > .pageContainer > .columnLeft {
        display: none;
      }
    }
  }
}
#cart_page_wrap {
  width: 750px;
  margin: 0 auto;
}

@media (min-width: 1307px) {
  #cart_page {
    .pageWrap {
      & > .pageContainer > .columnRight > .content {
        margin-right: 260px; 
      }
      & > .pageContainer > .columnRight > .extra_products {
        display: block;
      }
    }
  }
}