.products_page {
  h1 {
    font-size: 32px;
  }
  .pageWrap {
    padding: 0 0 0 240px;
    & > .pageContainer {
      & > .columnLeft {
        width: 240px;
        margin-left: -240px;
      }
    }  
  }
}
@media (max-width: 800px) {
  .products_page {
    .pageWrap {
      padding: 0 0 0 210px;
      & > .pageContainer {
        & > .columnLeft {
          width: 210px;
          margin-left: -210px;
        }
      }  
    }
  }
}

.product_block {
  margin: 0 10px;
}
.block_products_block, .category_box_x .wrap {
  zoom: 1;
  & > .product {
    width: 240px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px 10px;
    *display: inline;
    p {
      margin: 0.5em 0;
    }
  }
}
.block_products_block .rating, .category_box_x .wrap .rating, #product_card .rating {
  width: 69px;
  background-image: $image_sm_icon; 
  background-position: 0 -99px;
  overflow: hidden;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  margin: 0 auto;
  overflow: hidden;
  .stars {
    height: 14px;
    width: 0px;
    background-image: $image_sm_icon;
    background-position: 0 -83px;
    &.s {
      width: 69px;
      background-image: none;
      background: #fff;
    }
    &.s0 {
      width: 0px;  
    }
    &.s1 {
      width: 7px;
    }
    &.s2 {
      width: 14px;
    }
    &.s3 {
      width: 21px;
    }
    &.s4 {
      width: 28px;
    }
    &.s5 {
      width: 35px;
    }
    &.s6 {
      width: 42px;
    }
    &.s7 {
      width: 49px;
    }
    &.s8 {
    width: 56px;
    }
    &.s9 {
      width: 63px;
    }
    &.s10 {
      width: 69px;
    }
  }
}
#product_card .rating {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  .stars {
    display: inline-block;
  }
}
.block_products_block > .product a.cover > img, .category_box_x .product a.cover > img {
  display: block;
  width: 200px;
  height: 200px;
}
.block_products_block > .product a.cover, .category_box_x .product a.cover {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 200px;
}
.block_products_block > .product, .category_box_x .product {
  .title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
      font-size: 1.1em;
    } 
  }
 
  & > .label-discount {
    font-size: 1em;
    position: absolute;
    margin-top: 30px;
  }
  p.brand {
    font-size: 0.9em;
    line-height: 1em;
    color: #666;
  }
  .price {
    span.cur {
      font-weight: normal;
    }
    .normal {
      font: {
        size: 1.45em;
      }
      & > .old {
        font-size: 0.8em;
        text-decoration: line-through;
        color: #666;
        position: relative;
        top: 5px;
        left: -10px;
      }
    }
  }
}
#sorting {
  li.title {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    color: #666;
    font-size: 1.2em;
    margin-right: 1em;
  }
  li > a {
    font-size: 1.2em;
  }
  li.active > a {
    color: $linkColorHover;
  }
}

.facet_box {
  border: 1px solid #ddd;
  @include border-radius(4px 4px 0 0);
  width: 220px;
  margin: 0 0 40px 10px;
  & > div.title {
    z-index: 1;
    & > span {
      font-size: 1.2em;
      padding: 0 10px;
      background-color: white;
      position: relative;
      z-index: 2;
      margin-left: 10px;
      top: -10px;
      color: #666;
      a {
        color: #0561BD;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0 0 15px 20px;
    li.active {
      a {
        color: $linkColorHover;
        font-weight: bold;
      }
    }
  }
}
@media (max-width: 800px) {
  .facet_box {
    width: 170px;
    ul li {
      line-height: 1.9em;
      margin-top: 0.3em;
    }
  }
}
.category_box_x {
  margin-top: 30px;
}
.category_box_x .wrap {
  height: 320px;
  overflow: hidden;
  margin-bottom: 20px;

}
.category_box_x .wrap .product {
  width: 220px;
  height: 310px;
  position: relative;
}
.category_box_x.simple .wrap .product {
  width: 220px;
  height: 270px;
  position: relative;
} 
.category_box_x.simple .wrap{
  height: 280px;
}
.category_box_x .wrap .product a.cover > img {
  width: 160px;
  height: 160px; 
}
.category_box_x .wrap .product a.cover {
  width: 160px;
  height: 160px; 
}
.category_box_x > p.title {
  margin-left: 40px;
  font-size: 1.80em;
  color: #2871ad;
  a {
    font-weight: bold;
  }
  span a {
    font-size: 0.7em;
    font-weight: normal;
  }
}
.category_box_x > p.other {
  text-align: right;
  padding-right: 30px 
}
.separator_category_box_x {
  width: 96%;
  margin: 10px auto;
  height: 1px;
  background-color: #ddd;
  @include box-shadow(#{0 1px 4px rgba(0,0,0,.15)});
}
.products_page .all_catalog .category_prew > .thumbnail > p.title {
  font-size: 1.10em;
}
.facet_search .facet_box {
  ul {
  overflow-y: auto;
  max-height: 126px;
  }
}
.facet_box {
  a.remove_this_filter {
    float: right;
  }
}
.facet_search {
  button {
    margin-left: 12px;
    margin-top: -30px;
  }
}