footer {
  margin-left: 20px;
  padding: 20px;
  .navigation {
    margin-top: 30px;
    ul {
      float: left;
      width: 30%;
      height: 130px;
      margin: 20px 20px 20px 0;
      li {
        margin-top: 10px;
        list-style: disc inside;
        color: #1763E1;
        a {
          color: #666;
          text-decoration: underline;
          &:hover{
            color: #111;
          }
        }
      }
    }
  }
}
#featured-products-footer {
  width: 96%;
  height: 240px;
  .block_products_block {
    .product {
      margin-bottom: 0px;
      height: 220px;
      width: 220px;
      & > a.cover, & > a.cover img {
        width: 130px;
        height: 130px;
      }
    } 
  }
}
