// Fixed (940px)
@include grid-core($gridColumnWidth, $gridGutterWidth);

// Fluid (940px)
@include grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth);

.container {
  @include container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: $gridGutterWidth;
  padding-left: $gridGutterWidth;
  @include clearfix();
}


// Reset utility classes due to specificity
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

#container {
  width: 100%;
  min-height: 400px;
  *height: 400px;
  *zoom: 1;
  .row:before, .row:after {
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
}
#container > .row {
  margin: 0;
}
#container.opacity {
  @include opacity(50);
}

.pageWrap {
  padding: 0 0 0 280px;
  & > .pageContainer {
    zoom: 1; 
    position: relative; 
    & > .columnLeft {
      position: relative;
      float: left;
      width: 280px;
      margin-left: -280px;
      overflow: visible;
    }
    & > .columnRight {
      position: relative;
      float: left;
      width: 100%;
      margin-right: -100%;
      & > .leftColumn, & > .content > .leftColumn {
        margin-right: 300px; 
      }
      & > .rightColumn, & > .content > .rightColumn {
        float: right;
        width: 300px; 
      }
      & > .content {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    & > .clear {
      clear: both;
      font-size: 0;
      line-height: 0;
      height: 0;
      border: none;
      float: none;
      @include clearfix();
    }
    &::before, &::after {
    content: "";
    display: table;
    }
    &::after {
    clear: both;
    }
    &::before, &::after {
    content: "";
    display: table;
    }
  }  
}

.pageWrap.rightFixed {
  padding: 0 250px 0 0;
  height: 1%;
  & > .pageContainer {
    & > .columnLeft {
      position: relative;
      float: left;
      width: 100%;
      margin: 0 -100% 0 0;
      overflow: hidden;
      & > .content {
        margin: 0 15px 0 10px;
      }
    }
    & > .columnRight {
      position: relative;
      float: right;
      width: 250px;
      margin-right: -250px;
    }
  }
}

.standart_page {
  & > .pageWrap > .pageContainer > .columnRight > .content {
    margin-right: 15px;
    max-width: 1300px;
  }
}
@media (min-width: 1500px) {
  .standart_page {
    & > .pageWrap > .pageContainer > .columnRight > .content {
      margin: 0 auto;
    }
  }
}
@media (max-width: 1047px) {
  .standart_page {
    .pageWrap {
      padding: 0;
      & > .pageContainer > .columnLeft {
        display: none;
      }
    }
    .row.fly {
      & > .span1, & > .span2, & > .span3, & > .span4, & > .span5, & > .span6, & > .span7, & > .span8
      & > .span9, & > .span10, & > .span11, & > .span12 {
        display: block;
        width: 100%;
      }
    }
  }
}
.standart_page {
  h1 {
    text-align: center;
  }
}
.page_single_row {
  margin: 10px;
}