header {
  .content {
    height: 100px;
    margin: 0 10px 5px 10px;
    & > .logo {
      width: 210px;
      float: left;
      height: 125px;
      height: 95px;
    }
    & > .info {
      float: right;
      ul.help {
        display: block;
        height: 2em;
        margin: 0.65em 0 0 0;
        li {
          float: left;
          margin-left: 0.5em;
        }
      }
      p.phone {
        margin: 6px 0 0 10px;
        font-size: 1.35em;
      }
      p.write_to_us {
        margin: 0;
        text-align: right;
      }
    }
    & > .free-block {
      margin: 0 320px 0 220px;
      height: 95px;
      overflow: hidden;
      .pre-cart {
        margin: 10px 0 0 100px;
        width: 310px;
        .cart {
          width: 180px;
          a.in_cart {
            font-size: 1.3em;
            i{
              margin-top: -5px;
              margin-right: 7px;
            }
          }
          ul {
            margin-left: 15px;
          }
          li {
            color: #555;
            font-size: 0.95em;
          }
        }
        .start-order {
          float: right;
          a {
            margin-top: 25px;
          }
        }
      }
    }
  }
}
@media (max-width: 999px) {
  header .content > .free-block {
    display: none;
  }
}