@media (max-width: 1047px) {
  .hide_columnLeft_min_page {
    .pageWrap {
      padding: 0;
      & > .pageContainer > .columnLeft {
        display: none;
      }
    }
  }
}
#main_page {
  h1 {
    font-size: 2em;
  }
}
#main_page .all_catalog {
  .category_title {
    margin: 40px 0 20px 40px;
    font-size: 1.80em;
  }
  & > ul.category_prew {

    & > li.thumbnail {
      height: 220px;
      & > p.title {
        margin: 8px 5px;
        font-size: 1.2em;
      }
      & > p.super-title {
        margin: 8px 5px;
        font-size: 1.25em;
        font-weight: bold;

      }
      & > p.price {
        margin: 15px 5px;
        font-size: 1.3em;
      }
      &.super {
        p.title {
          font-size: 1.6em;
          margin-top: 60px;
        }
      }
    }
  }
}
nav.main_nav {
  margin: -15px 15px 0 0;
  font-size: 0.95em;
}
.footer_fast_navs {
  text-align: right;
  margin-right: 28px;
}
#main_page {
  p.desc_header {
    font-size: 0.95em;
    margin-left: 20px;
  }
  p.desc_foot {
    font-size: 0.95em;
  }
}