.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: pointer; }
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider .ui-slider-handle:focus {
  outline-style: none;
}
.ui-slider .ui-slider-handle {
  @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  @include border-radius(8px);
  @include box-shadow(#{0 1px 4px rgba(0,0,0,.65)});
}
.ui-slider .ui-slider-handle:active {
  @include gradient-vertical($btnOrangeBackgroundHighlight, $btnOrangeBackground);
}