.sm-drop-down {
  position: absolute;
  top: 40px;
  border: 3px solid $navbarBackground;
  border-top: 0;
  display: none;
  @include border-bottom-radius(6px);
  background: #fff;
  @include box-shadow(#{0 1px 4px rgba(0,0,0,.65)});
  z-index: 999;
  zoom: 1;
  ul {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

#nav-browse-layout {
  width: 220px;
  height: $navCatalogList;
  overflow: visible;
  left: 10px;
  &.active {
    width: 940px;
  }
}
#nav-browse-categories {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 10px;
}
#nav-browse-layout.active #nav-browse-sub-categories {
  display: block;
}
#nav-browse-sub-categories {
  display: none;
  position: absolute;
  top: 0px;
  left: 220px;
  width: 720px;
  height: 100%;
  & > .sub-category {
    display: none;
    width: 100%;
    height: 100%;
  }
  & > .sub-category > .list {
    width: 230px;
    float: left;
    margin: 10px 0 0 10px;
    & > ul > li {
      margin-left: 5px;
      &.title {
        margin: 0 0 5px 0;
        a {
          margin: 0;
          font-weight: bold;
          color: #3F454B;
          text-decoration: underline;
        }
      }
      &.empty {
        line-height: 10px;
      }
      a {
        color: #3F454B;
        font-size: 1em;
        &:hover {
          color: $color_S_orange;
          text-decoration: underline;
        }
      }
     }
   }
}
#nav-browse-categories > ul {
  margin-top: 10px;
  li {
    a {
      padding: 7px 5px;
      display: block;
      color: #222;
      font-size: 1.2em;
      i {
        @include opacity(30);
        float: right;
        display: none;
      }
      i.disp {
        display: block;
        @include opacity(80);
      }
      &:hover {
        color: $color_S_orange;
      }
      &.active {
        color: $color_S_orange;
        background: #ffffff;
        font-weight: bold;
        i {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #nav-browse-layout {
    width: 180px;
    left: 10px;
    &.active {
      width: 740px;
      height: $navCatalogList+90px;
    }
  }

  #nav-browse-categories {
    width: 175px;
    position: absolute;
    top: 0px;
    left: 5px;
  }

   #nav-browse-sub-categories {
    left: 185px;
    width: 555px;
    & > .sub-category > .list {
      width: 175px;
      float: left;
      margin: 0 0 0 10px;
      & > ul > li {
        margin-bottom: 0.5em;
        margin-left: 5px;
        &.title {
          margin: 0 0 5px 0;
          a {
            margin: 0;
            font-weight: bold;
            color: #3F454B;
            text-decoration: underline;
          }
        }
        a {
           color: #3F454B;
           font-size: .9em;
           &:hover {
             color: $color_S_orange;
             text-decoration: underline;
           }
        }
        &.empty{
          height: 1px;
        }
       }
     }
  }
  #nav-browse-categories > ul {
    li {
      a {
        font-size: 1em;
      }
    }
  } 
}
#sub-categoryviewed_products {
  ul {
    margin: 10px 0;
    float: left;
    width: 300px;
    li {
      margin-top: 0.6em;
      a {
        color: #333;
        font-size: 1.3em;
        &:hover{
          color: $color_S_orange;
        }
      }
    }
  }
  .see_other {
    padding-top: 130px;
    a {
      font-size: 1.2em;
    }
  }
}