//
// Navbars (Redux)
// --------------------------------------------------


// COMMON STYLES
// -------------

// Base class and wrapper
.navbar {
  overflow: visible;
  margin-bottom: $baseLineHeight;
  color: $navbarText;
  padding: 0 10px;
  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;
}

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  min-height: $navbarHeight;
  padding-left:  10px;
  padding-right: 10px;
  @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  @include border-radius($navBarBorderRadius);
  @include box-shadow(#{0 1px 4px rgba(0,0,0,.65)});

  // Prevent floats from breaking the navbar
  @include clearfix();
}

#navbar.catalog_open {
  @include border-radius($navBarBorderRadius $navBarBorderRadius $navBarBorderRadius 0);
  #catalog_open .caret {
    border-top: 0;
    border-bottom: 6px solid white;
  }
}

#catalog_open {
  margin-left: -3px;
  margin-top: 3px;
  width: 200px;
  padding: 6px;
  font-size: 1.3em;
  float: left;
  .caret {
    margin-top: 8px;
    border-top: 6px solid white;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}
#search {
  margin-left: 30px;
  .query {
    width: 250px;
  }
}

// Dividers in navbar
// -------------------------
.navbar .divider-vertical {
  height: $navbarHeight;
  margin: 0 9px;
  border-left: 1px solid $navbarBackground;
  border-right: 1px solid $navbarBackgroundHighlight;
}

// Buttons in navbar
// -------------------------
.navbar .btn,
.navbar .btn-group {
  @include navbarVerticalAlign(30px); // Vertically center in navbar
}
.navbar .btn-group .btn,
.navbar .input-prepend .btn,
.navbar .input-append .btn {
  margin-top: 0; // then undo the margin here so we don't accidentally double it
}

// Navbar forms
// -------------------------
.navbar-form {
  margin-bottom: 0; // remove default bottom margin
  @include clearfix();
  input,
  select,
  .radio,
  .checkbox {
    @include navbarVerticalAlign(30px); // Vertically center in navbar
  }
  input,
  select,
  .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  input[type="image"],
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
  .input-append,
  .input-prepend {
    margin-top: 6px;
    white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
    input {
      margin-top: 0; // remove the margin on top since it's on the parent
    }
  }
}





// NAVIGATION
// ----------

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
  margin-right: 0; // remove margin on float right nav
}
.navbar .nav > li {
  float: left;
}

// Links
.navbar .nav > li > a {
  float: none;
  // Vertically center the text given $navbarHeight
  padding: (($navbarHeight - 36 ) / 2) 15px (($navbarHeight - 34 ) / 2);
  color: $navbarLinkColor;
  text-decoration: none;
  text-shadow: 0 1px 0 $navbarBackgroundHighlight;
}
.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}

// Hover
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
  color: $navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbarLinkColorActive;
  text-decoration: none;
  background-color: $navbarLinkBackgroundActive;
  @include box-shadow(#{inset 0 3px 8px rgba(0,0,0,.125)});
}



// Dropdown menus
// --------------

// Menu position and menu carets
.navbar .nav > li > .dropdown-menu {
  &:before {
    content: '';
    display: inline-block;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: $dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid $dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}

// Remove background color from open dropdown
//.navbar .nav li.dropdown.open > .dropdown-toggle,
//.navbar .nav li.dropdown.active > .dropdown-toggle,
//.navbar .nav li.dropdown.open.active > .dropdown-toggle {
//  background-color: $navbarLinkBackgroundActive;
//  color: $navbarLinkColorActive;
//}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: $navbarLinkColor;
  border-bottom-color: $navbarLinkColor;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: $navbarLinkColorActive;
  border-bottom-color: $navbarLinkColorActive;
}

// Right aligned menus need alt position
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 10px;
  &:before {
    left: auto;
    right: 12px;
  }
  &:after {
    left: auto;
    right: 13px;
  }
  .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    @include border-radius(6px 0 6px 6px);
  }
}

@media (max-width: 800px) {
  #catalog_open {
    width: 160px;
    padding: 6px 3px;
    font-size: 1.2em;
    .caret {
      margin-top: 7px;
      border-top: 6px solid white;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
  #search .query {
    width: 150px;
  }
}