#ordering {
  width: 700px;
  margin: 20px auto;
  div.delivery table, div.payment table {
    caption {
      text-align: left;
      font-size: 1.15em;
      font-weight: bold;
      margin-left: 30px;
      padding: 15px 0;
    }
    label {
      cursor: pointer;
    }
    td.button {
      width: 25px;
      text-align: center;
      vertical-align: middle;
    }
    td.name {
      label {
        font-size: 1.3em;
        line-height: 1.6em;
      }
    }
    td.price {
      width: 100px;
      text-align: center;
      vertical-align: middle;
      a {
        display: block;
      }
    }
  }
}

#ordering_form {
  margin: 30px 0;
  input#ordering_form_phone {
    width: 275px;
  }
  .controls {
    input, select, textarea {
      width: 300px;
    }
  }
  .form-actions {
    button.submit {
      margin-left: 165px;
    }
  }
}

#modal_ya_map {
  width: 700px;
  margin: -270px 0 0 -380px;
  margin-top: 0px;
  top: 7%;
  padding: 20px;
  position: absolute;
}

table#orers_list {
  td {
    vertical-align: middle;
  }
  & > tbody > tr.collapse-wrap {
    &:hover > td {
      background: transparent;
    }
    & > td {
      margin: 0;
      padding: 0;
      height: 0;
      border-top: 0;
      .collapse > .content {
        border-top: 1px solid $tableBorder;
        padding: 15px 15px 40px 15px;
      }
    }
  }
  & > tbody, & > thead {
    & > tr > td {
      .id {
        width: 50px;
      }
      .status {

      }
      .actions {
        width: 170px;
      }
    }
  }
  table.products_list {
    tbody {
      th.name {
        text-align: right;
      }
    } 
    td, th {
      &.price {
        width: 120px;
        text-align: center;
      }
      &.count {
        width: 50px;
        text-align: center;
      }
      &.sum {
        width: 120px;
        text-align: center;
      }
    }
  }
}