.mini_preview_product {

  & > .cover {

  }
  p.name {
    & > a {
      color: lighten($textColor,10%);
      font-size: 0.91em;
      font-weight: bold;
      text-decoration: underline;
      &:hover{
        color:$color_S_orange;
      }
    }
  }
  .price {
    p.normal {
      font-size: 1.3em;
      color: lighten($color_S_orange, 3%);
      & > .old {
        font-size: 0.8em;
        color: #666;
        text-decoration: line-through;
      }
    }
  }
}
.popular_products_main {
  margin-top: 380px;
  border-left: none;
}
.micro_pre_block_products {
  padding: 1px 5px 15px 5px;
  border: 1px solid #ddd;
  & > p.title {
    color: $linkColor;
    font-size: 1.7em;
    span {
      padding: 0 10px;
      background-color: white;
      position: relative;
      z-index: 2;
      margin-left: 20px;
      top: -10px;
    }
  }
}

.like_products_by_type {
  border-right: none;
  .price {
    p.normal {
      font-size: 1.2em;
    }
  }
}