.product_block {
  margin: 0 10px;
}
.block_products_block {
  zoom: 1;
  &.simple {
    & > .product {
      height: 330px;
    }
  }
  & > .product {
    width: 240px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px 10px;
    *display: inline;
    height: 325px;
    p {
      margin: 0.5em 0;
    }
  }
}

 .block_products_block > .product a.cover > img {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 200px;
}
.block_products_block > .product {
  .title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
      font-size: 1.1em;
    } 
  }
 
  & > .label-discount {
    font-size: 1em;
    position: absolute;
    margin-top: 30px;
  }
  p.brand {
    font-size: 0.9em;
    line-height: 1em;
    color: #666;
  }
  .price {
    span.cur {
      font-weight: normal;
    }
    .normal {
      font: {
        size: 1.45em;
      }
      & > .old {
        font-size: 0.8em;
        text-decoration: line-through;
        color: #666;
        position: relative;
        top: 5px;
        left: -10px;
      }
    }
  }
}
#sorting {
  li.title {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    color: #666;
    font-size: 1.2em;
    margin-right: 1em;
  }
  li.discount {
    a {
      color:#ed2027;
    }
  }
  li > a {
    font-size: 1.2em;
  }
  li.active > a {
    color: $linkColorHover;
  }
}

.facet_box {
  border: 1px solid #ddd;
  @include border-radius(4px 4px 0 0);
  width: 220px;
  margin: 0 0 40px 30px;
  & > div.title {
    z-index: 1;
    & > span {
      font-size: 1.2em;
      padding: 0 10px;
      background-color: white;
      position: relative;
      z-index: 2;
      margin-left: 10px;
      top: -10px;
      color: #666;
      a {
        color: #0561BD;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0 0 15px 20px;
    li.active {
      a {
        color: $linkColorHover;
        font-weight: bold;
      }
    }
  }
}

#product_card {
  position: relative;
  margin: 10px;
  border: 3px solid $navbarBackground;
  border-top: 0;
  top: -33px;
  padding: 0 10px;
  @include border-radius(0 0 6px 6px);
  @include box-shadow(#{0 3px 4px rgba(0,0,0,.65)});
  .separator {
    width: 96%;
    margin: 5px 0;
    height: 1px;
    background-color: #B4B4B5;
    @include box-shadow(#{0 1px 4px rgba(0,0,0,.15)});
  }
  h1{
    font-size: 1.85em;
    line-height: 1.2em;
  }
  .columnRight {
    .content {
      margin-right: 200px;
      margin-bottom: 20px;
    }
  }
  .product_card_footer {
    margin-top: 20px;
  }
}
#product_card .images_box {
  width: 280px;
  a:hover {
    cursor: asset-url("zoom.png", image), asset-url("zoom.ico", image), pointer;
  };
  img.cover {
    display: block;
    margin-top: 20px;
    width: 280px;
    height: 280px
  }
  ul.thumbnails {
    margin-left: -10px;
    li {
      margin-left: 10px;
    }
  }
}
#product_card p.info_o {
  margin: 0;
  font-size: 0.90em;
  line-height: 1.5em;
  font-weight: bold;
  span {
    font-weight: normal;
    font-style: oblique;
  }
}
#product_card ul.breadcrumb {
  margin: 0 0 10px;
}
#product_card .content {
  max-width: 1300px;
}
#product_card .content p.price {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0.75em 0;
  span {
    font-weight: normal;
  }
  & > .normal {
    font-size: 1.3em;
    color: #FF5800;
  }
  & > .new {
    margin-left: 10px;
  }
  & > .old {
    font-size: 1.0em;
    color: #666;
    text-decoration: line-through;
  }
  & > .d { 
    font-size: 0.85em;
    color: #444;
    margin-left: 1.5em;
  }
}
#product_card .add_cart_spare {
  display: none;
}
#product_card .add_cart, .list_of_products > .product > .add_cart {
  link {
    display: none;
  }
  float: right;
  width: 180px;
  padding-top: 20px;
  margin-right: 10px;
  text-align: center;
  p.price {
    font-size: 1.4em;
    text-align: center;
    width: 160px;
    span {
      font-size: 1.2em;
      display: block;  
      color: #FF5800;
      margin-top: 0.8em;
      margin-bottom: 0.5em;
    }
  }
  form.add_to_cart {
    label {
      font-size: 1.3em;
      color: #444;
    }
    input.count {
      width: 35px;
    }
    .btn-in-cart {
      margin-top: 0.7em;
      font-size: 1.6em;
      padding: 8px 14px 6px 14px;
      & > i {
        margin: 0px 7px 0 0;
        height: 25px;
        background-image: url($image_sm_icon);
        background-position: -4px -44px;
      }
    }
  }
}

.block_products_block.thumbnails > .thumbnail.page_next {
  a.next {
    display:block;
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin: 105px auto;
    text-align: center;
    line-height: 1.35em;
    span {
      font-size: 4em;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
@media (max-width: 800px) {
  #product_card p.price > .d { 
    display: none;
  }
  #product_card .add_cart_spare {
    position: relative;
    top: -3em;
    float: right;
    display: block;
    margin-right: 50px;
  }
  #product_card .columnRight .content {
    margin-right: 0;
  }
  #product_card .columnRight .content .short_description {
    clear: both;
    position: relative;
    @include clearfix();
    top: -1.2em;
  }  
  #product_card .add_cart {
    display: none;
  }
}

#product_card_extra {
  .content {
    max-width: 1100px;
    h2{
      font-size: 2em;
    }
  }
  .product_features {
    table {
      width:98%;
      margin: 10px 0 0 2%;
      max-width: 1000px;
        td {
        vertical-align: middle;
        p, ul, li {
          margin: 0;
          padding: 0;
        }
        &.property {
          width: 210px;
          font: {
            weight: bold;
            size: 1.1em;
          }
        }
        &.values{
          font-size: 1.1em;
        }
      }
    }
  }
  .product_description {
    margin-top: 2em;
    .content {
      font-size: 1.2em;
      line-height: 1.5em;
      margin: 0 10px 20px;
      ul {
        margin-top: 15px;
        li {
          margin-top: 0.5em;
          &::before {
            content: "- ";
          }
          &.title {
            font-size: 1.2em;
            font-weight: bold;
            margin-left: -10px;
            &::before {
              content: "";
            }
          }
        }
      }
    }
  }
  .product_description_extra {
    margin: 30px 10px;
    & > p.title {
      font-size: 2em;
      font-weight: bold;
      em, b {
        font-style: normal;
      }
    }
    .content {
      font-size: 1.2em;
      line-height: 1.5em;
      margin: 0 10px 20px;
    }
  }
  .columnRight .module {
    padding: 0 5px 10px 10px;
    @include border-radius(6px);
    @include box-shadow(#{0 3px 4px rgba(0,0,0,.65)});
    border: 3px solid $navbarBackground;
    margin: 0 10px 0 12px;
    p.title {
      text-align: center;
      font-size: 1.4em;
      padding: 10px 0;
    }
  }
  .brand_description {
    & > p.title {
      text-align: center;
    }
    & > .content > .brand-logo {
      float: left;
      padding: 0px 20px 20px 0;
    }
  }
}
@media (max-width: 800px) {
  #product_card_extra {
    padding: 0;
    .columnRight {
      display: none;
    }  
  }  
}
@media (min-width: 1400px) {
  #product_card_extra {
    padding-right: 400px;
    .columnRight {
      width: 400px;
      margin-right: -400px;
    }  
  }  
}
.modal.productImages {
  @include modal-width(700px);
  margin-top: 0px;
  top: 7%;
  padding: 20px;
  position: absolute;
  .image {
    width: 600px;
    height: 600px;
    float: left;
  }
  .prew {
    float: right;
    width: 90px;
    margin: 0; 
    li {
      margin-top: 20px;
    }
  }
}

#from_for_review_wrap {
  width: 650px;
  margin: -250px 0 0 -350px;
  margin-top: 0px;
  top: 7%;
  padding: 20px;
  position: absolute;
}

.default_stars_ratio {
  @include ie7-inline-block();
  display: inline-block;
  width: 69px;
  height: 15px;
  background-image: $image_sm_icon;
  background-position:  0 -98px;
  margin-right: 15px;
  & > .stars {
    @include ie7-inline-block();
    display: inline-block;
    height: 15px;
    background-image: $image_sm_icon;
    background-position:  0 -82px;
    &.stars1 {
      width: 14px;
    }
    &.stars2 {
      width: 28px;
    }
    &.stars3 {
      width: 42px;
    }
    &.stars4 {
      width: 56px;
    }
    &.stars5 {
      width: 69px;
    }
  }
}

#product_reviews_product_page {
  & > .review {
    margin: 30px 0 0 20px;
    & > .review-header {
      .title {
        font-size: 1.25em;
      }
      .author {
        color: #555;
      }
    }
    & > .review-body {
      font-size: 1.10em;
      .limitations_review, .value_review {
        p.title {
          font-size: 1em;
          padding: 4px 7px;
        }
      }
      .limitations_review {
        border-color: lighten($errorText, 25%);
      } .value_review {
        border-color: lighten($successText, 25%);
      }
      & > .vote {
        position: relative;
        float: right;
        top: -35px;
        a.up {
          color: $successText;
        }
        a.down {
          color: $errorText;
        }
      }
    }
  }
}
.list_of_products {
  & > .product {
    border: 1px dashed #ADACAC;
    margin: 20px 0 0 0; 
    .label-discount {
      position: absolute;
      font-size: 1em;
      font-size: 1.3em;
      padding: 4px 8px;
      margin: -10px 0 0 -20px;
    }
    p.title {
      margin: 20px 0 10px 30px;
      a {
        font-size: 1.35em;
        color: #333;
        &:hover {
          color: $color_S_orange;
        }
      }
    }
    .body {
      margin: 10px 210px 0 0;
      .cover {
        width: 130px;
        height: 130px;
        float: left;
        margin: 10px 20px 0 10px;
        img {
          display: block;
          width: 130px;
          height: 130px;
        }
      }
      .description {
        height: 130px;
        overflow: hidden;
      }
    }
    .add_cart {
      border-left: 1px dashed #ADACAC;
      width: 180px;
      float: right;
      padding-left: 10px;
      height: 100%;
    }
  }
}
@media (max-width: 1047px) {
  .list_of_products {
    & > .product {
      .label-discount {
        margin-top: -112px;
      }
      p.title, .body {
        position: relative;
        bottom: 102px;
      }
      .body {
        margin-right: 10px;
      }
      .add_cart {
        border-top: 1px dashed #ADACAC;
        border-left: 0;
        float: none;
        width: 100%;
        height: 80px;
        overflow: hidden;
        position: relative;
        top: 200px;
        p.price {
          width: 180px;
          float: right;
          margin-right: 10px;
        }
        .count_class {
          display: none;
        }
        .btn-in-cart {
          margin: 0.5em 0 0 0;
        }
      }
    }
  }
}
.all_catalog {
  h1{
    text-align: center;
    font-size: 2.45em;
  }
  h2{
    font-size: 1.90em;
    margin: 30px 0 20px 70px;
  }
  .category_prew.thumbnails {
    margin-left: 20px;
    & > li.thumbnail {
      margin:0;     
    }
    .thumbnail {
      height: 200px;
      width: 225px;
      text-align: center;
      img {
        width: 130px;
        height: 130px;
      }
      .title {
        margin: 0.7em 0;
        font-size: 1.35em;
      }
      .super-title {
        font-size: 1.6em;
        font-weight: bold;
        line-height: 1em;
        margin-top: 70px;
      }
      &.super {
        .title {
          font-weight: bold;
          font-size: 1.35em;
          margin: 0.3em 0;
          line-height: 1.3em;
  
        }
      }
    }
  }
}