#page_recovery_password {
  #recoveryPasswordForm {
    label.control-label {
      width: 210px;
      font-size: 1.3em;
    }
    .control-group.captcha {
      .controls {
        margin-left: 230px;
        input {
          margin-top: 20px;
          width: 235px;
        }
      }
    }
    .control-group.phone {
      .controls {
        margin-left: 20px;
      }
    }
    .control-group.submit {
      .controls button {
        margin-left: 185px;
      }
    }
  }
}