.s_carousel {
  height: 300px;
  overflow: hidden;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  position: relative;
  z-index: 1;
  min-width: 600px;
}
#columnRight .s_carousel {
  margin-right: 10px;
}
.s_carousel > .s_carousel_wrap {

}
.s_carousel > .s_carousel_wrap > .item {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 300px;
  width: 100%;
  background-position: center;
}
.s_carousel > .s_carousel_wrap > .item > a.banner {
  display: block;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}
.s_carousel > .s_carousel_wrap > a.bookmark {
  display: block;
  width: 110px;
  height: 55px;
  position: absolute;
  left: 100%;
  margin-left: -120px;
  cursor: pointer;
  z-index: 10;
  background-repeat: no-repeat;
  color: #ffffff;
  font:{
    size: 1.1em;
  }
  @include opacity(85); 
  padding: 10px;
  &:hover{
    @include opacity(100); 
  }
  &.active{
    margin-left: -130px;
    @include opacity(100);
    @include box-shadow(#{0 5px 10px rgba(0,0,0,.4)});
    &:before{
      position: absolute;
      top: 35px;
      left: -7px;
      display: inline-block;
      border-top: 7px solid transparent;
      border-right: 7px solid #ccc;
      border-bottom: 7px solid transparent;
      border-right-color: rgba(0, 0, 0, 0.8);
      content: '';
    }
  }

}

.carousel {
  position: relative;
  margin-bottom: $baseLineHeight;
  line-height: 1;
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel {

  .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);
  }

  // Account for jankitude on images
  .item > img {
    display: block;
    line-height: 1;
  }

  .active,
  .next,
  .prev { display: block; }

  .active {
    left: 0;
  }

  .next,
  .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .next {
    left: 100%;
  }
  .prev {
    left: -100%;
  }
  .next.left,
  .prev.right {
    left: 0;
  }

  .active.left {
    left: -100%;
  }
  .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: $white;
  text-align: center;
  background: $grayDarker;
  border: 3px solid $white;
  @include border-radius(23px);
  @include opacity(50);

  // we can't have this transition here
  // because webkit cancels the carousel
  // animation if you trip this while
  // in the middle of another animation
  // ;_;
  // .transition(opacity .2s linear);

  // Reposition the right one
  &.right {
    left: auto;
    right: 15px;
  }

  // Hover state
  &:hover {
    color: $white;
    text-decoration: none;
    @include opacity(90);
  }
}


// Caption for text below images
// -----------------------------

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: $grayDark;
  background: rgba(0,0,0,.75);
}
.carousel-caption h4,
.carousel-caption p {
  color: $white;
  line-height: $baseLineHeight;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}