.scroll-pane {
  overflow: auto;
  padding: 10px 1%;
  position: relative;
  float:left;
  border: 1px solid lighten($navbarBackground,30);
  @include box-shadow(#{0 1px 4px rgba(0,0,0,.65)});
  @include border-radius(10px 0 10px 0);
  .scroll-content {
    float: left;
  }
  .scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
  .scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
  .scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
  .scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
  .scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

}