#public_offer {
  ul {
    margin: 15px 0 15px 15px;
    line-height: 1.7em;
    .title1 {
      font-size: 1.2em;
      font-weight: bold;
    }
    .title2 {
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}