#types_page {
  .types_list {
    & > table {
      & > thead > tr > th {
        &.total {
          width: 75px;
          text-align: center;
        }
        &.name {

        }
      }
      & > tbody > tr > td {
        &.letter {
          width: 40px;
          text-align: center;
          font-size: 1.2em;
          font-weight: bold;
          color: #444;
        }
        &.total {
          text-align: center;
        }
        &.name {
          width: 200px;
        }
      }
    }
  }
}
#type_page {
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .brands_list {
    li {
      font-size: 1.4em;
    }
  }
  .properties_description {
    h3 {
      margin-left: 30px;
    }
    .description {
      margin-left: 50px;
    }
  }
}