- content_for(:head) do

  %title Получение заказов в интернет магазине

  %meta{name: 'description', content: 'Способы получения заказов сделанных в интернет магазине Самара-Маркет'}
  %meta{name: 'keywords', content: 'Доставка, интернет магазин, покупка, купить, товар, заказ,'+City.public.pluck(:name).join(',')}
  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          #page_delivery_description
            %h1 Получение заказов в интернет магазине
            .description
              %p
                На данный момент, получить заказ, от нашего
                =home_link 'интернет магазина', :b 
                , можно только в Самарской области, в городах Самара и Кинель.

              %p
                %strong
                  Город Самара:
              .content{style: 'margin-left: 20px'}
                %p
                  Для города Самара возможен один метод получения товара, это доставка на дом.
                %p
                  Заказы стоимостью больше 2000 рублей будут доставленны бесплатно.
                %p
                  В остальных же случаях стоимость доставки составит 99 рублей.
                %p
                  %span.label.label-important
                    %i.icon-white.icon-info-sign
                  Доставка в Красноглинский и Куйбышевский районы + 50 рублей к сумме доставки. Если сумма Вашего заказа превышает 2000 рублей, то стоимость доставки составит 50 рублей.
              %p    
                %strong
                  Город Кинель:
              .content{style: 'margin-left: 20px'}
                %p
                  Для города Кинель в нашем 
                  %em
                    интернет магазине
                  возможно только доставка на дом.
                %p
                  Стоимость доставки 100 рублей, заказы стоимостью больше 3000 рублей будут доставленны бесплатно, временно, доставка осуществляется только в выходные дни, при условии, что Вы оформите заказ до пятницы, заказы оформленные в пятницу и выходные дни будут доставлятся через неделю.

      .columnLeft