.view_categories_tree, 
.view_products_types_list,
.view_brands_list,
.view_products_suppliers_list,
.view_products_groups_list {
  .tool_bar {
    padding: 5px;
    text-align: right;
  }
  .accordion-body {
    padding: 5px;
  }
}

form.category {
  .image_preview {
    img {
      display: block;
      height: 120px;
    }
  }
}
.category_form div.adwords {

  .adword {
    margin-top: 40px;
    p {
      font-size: 18px;
      font-weight: bold;
    }
    img {
      display: block;
      height: 120px;
    }
  }

}
#main_adwords_banners .adword {
  img {
    height: 140px;
  }
}