// Place all the styles related to the admin/main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  .editor {
    width: 98%;
    height: 400px;
  }
  .k-widget.k-combobox.k-header.span5 {
    margin-left: -7px;
  }
}
.status-true {
  background: image-url('admin/icon/power_on.png');
}
.status-false {
  background: image-url('admin/icon/power_off.png');
}
.categories_tree, .products_types_list, .brands_list, .products_suppliers_list, .products_groups_list {
  li {
    margin-top: 8px;
    font-size: 16px;
    .toolbar {
      margin-left: 15px;
    }
  }
}
.products_types_list, .brands_list, .products_suppliers_list, .products_groups_list {
  li {
    list-style: none;
    a {
      font: {
        size: 15px;
      }
    }
  }
}
#loading {
  z-index: 9999;
  display: none;
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.7);
  p{
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 25%;
    color: #fff;
  }
}
.row, .row-fluid {
  button.hide_row {
    margin: 20px 10px;
  }
  .row_block_hide.hide_out {
    width: 50px;
    overflow: hidden;
  }
}