// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_files {
  .images {
    ul {
      li {
        &.active {
          background: #FCB56D;
        }
        list-style: none;
        display: inline-block;
        padding: 10px 0 10px 10px;
        input {
          position: relative;
          right: 120px;
          top: -30px;
        }
      }
    }
  }
}
.order_form {
  .order_products_list {
    td {
      vertical-align: middle;
    }
    td.id {
      width: 100px;
    }
    td.name {
      width: 250px;
    }
    td.count {
      width: 60px;
      input {
        width: 50px;
      }
    }
    td.status {
      width: 150px;
    }
    td.total_sale_sum, td.sale_price {
      width: 120px;
      text-align: right;
    }
    td.supplier input {
      width: 290px;
    }
    td.supplier_price input {
      width: 80px;
    }
    tfoot {
      td:first-child {
        text-align: right;
        margin-left: 80px;
        font-weight: bold;
      }
      td:last-child {
        text-align: right;
        font-weight: bold;
        input {
          width: 150px;
        }
      }
    }
  }
}