// Place all the styles related to the admin/products_property controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_window .product_properties {
  li {
    list-style: none;
  }
  ul.properties {
    li {
      margin-top: 20px;
      ul {
        margin-top: 0;
        li {
          margin-top: 5px;
          .close {
            float: none;
            margin-left: 10px;
          }
          &:hover {
            background: #C4E6F5;
            color: #111;
          }
        }
      }
    }
  }
}
.product_window .items_list {
  margin-top: 0;
  list-style: none;
  li {
    margin-top: 5px;
    .close {
      float: none;
      margin-left: 10px;
    }
    &:hover {
      background: #C4E6F5;
      color: #111;
    }
  } 
}