// Place all the styles related to the admin/TypeProperty controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.type_properties_list {
  margin-top: 20px;
  li {
    font: {
      size: 16px;
      weight: 700;
    }
    list-style: none;
    margin-top: 10px;
    color: #1B9BE0;
    cursor: move;
    span {
      margin-left: 15px;
    }
  }
  li form .editor {
    height: 150px;
  }
}