- content_for(:head) do

  %title Оплата заказов в интернет магазине

  %meta{name: 'description', content: 'Способы оплаты заказов сделанных в интернет магазине Самара-Маркет'}
  %meta{name: 'keywords', content: 'Оплата, интернет магазин, покупка, купить, товар, заказ'}
  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          #page_payments_description
            %h1 Оплата заказов в интернет магазине
            .description
              %p
                На данный момент, оплатить заказ, от нашего
                =home_link 'интернет магазина', :b 
                , можно двумя способами:
              %br
              %p{style: 'font-size: 20px'}
                %b Наличными при получени.
              .content
                %p
                  Вы оплачиваете заказ наличными средствами в момент его получения.
              %br
              %p{style: 'font-size: 20px'}
                %b Через Qiwi кошелёк.
              .content
                %p
                  Оплата заказа производится со счёта Вашего Qiwi кошелка
                %p
                  После оформления заказа Вам будет сделан обратный звонок по номеру телефона указанному при оформлении, после согласования с оператором на этот же номер будет выставлен счёт который необходимо оплатить в течении двух дней, после оплаты Вы можете получить свой заказ.
                %p
                  Обратный звонок производится в будние дни, до часу дня, это необходимо для согласования параметров Вашего заказа.
                %p
                  %a{href: 'https://www.qiwi.ru/', title: 'Qiwi', target: '_blank'}
                    Qiwi Wallet
                  позволяет оплачивать товары и услуги как со счёта кошелька, так и со счёта мобильного телефона или банковской карты.


      .columnLeft