- content_for(:head) do

  %title Корзина Самара-Маркет

  %meta{name: 'description', content: 'Самара-Маркет корзина'}

  :javascript
    config.navigation = false;
:javascript
  $(document).ready(function(){
  window.Cart.getInstance().init_cart_event();window.ObserveResize.getInstance().add('h_n_f_c', function(){if(window._$.container.width() > 1047){CatalogNavigation.container_show(false)}else{CatalogNavigation.container_hide(true)}});})
#cart_page
  .pageWrap
    .pageContainer
      .columnRight
        .extra_products
        .content
          #cart_page_wrap
            -if current_cart and current_cart.goods.visible.size > 0
              %h2.align-center Ваша корзина
              -if current_cart.goods.out_of_stock.size > 0
                .alert.error.alert-error
                  %button.close{type: :button, data: {'dismiss'=>'alert'}}
                    &times;
                  %p
                    %b
                      Обратите внимание.
                    Не все товары готовы к заказу,
                    =current_cart.goods.out_of_stock.size
                    =Russian.p(current_cart.goods.out_of_stock.size, 'товара', 'товаров', 'товаров')
                    временно нет в наличии.
              -if current_cart.goods.not_visible.size > 0
                .alert.error.alert-error
                  %button.close{type: :button, data: {'dismiss'=>'alert'}}
                    &times;
                  %p
                    %b
                      Обратите внимание.
                    Некоторые товары из Вашей корзины удалены с сайта и более не доступны к заказу
              %ul#cartTab.nav-pills
                %li.active
                  %a{href:'#products_ready', data:{toggle:'tab'}}
                    Корзина
                    (
                    =current_cart.goods.in_stock.size
                    )
                -if current_cart.goods.out_of_stock.size > 0
                  %li
                    %a{href:'#products_not_ready', data:{toggle:'tab'}}
                      Нет в продаже
                      (
                      =current_cart.goods.out_of_stock.size 
                      )
              :javascript
                $(document).ready(function(){$('#cart_list .count a').click(function(){window.Cart.getInstance().render_win_count(this);return false;});});
              #cartTabContent.tab-content
                #products_ready.tab-pane.fade.active.in
                  #cart_list_wrap
                    %table#cart_list.table
                      -time_now = Time.now
                      -products_not_available = []
                      -total_sum = 0
                      %thead
                        %tr
                          %th.select
                            %input{type: 'checkbox', value: 0}
                          %th.main{colspan: 5}
                            %span.title
                              Ваша корзина
                      %tbody
                        -current_cart.goods.in_stock.each do |p|
                          %tr.line{data:{id: p.id, uid:p.uid}}
                            %td.select
                              %input{type: 'checkbox', name: 'id[]', value: p.uid}
                            %td.cover
                              -if @covers[p.cover_id] and @covers[p.cover_id].image.mini.url
                                %a{href: product_path(p.link_rewrite, :html)}
                                  %img{src: @covers[p.cover_id].image.mini.url, alt: p.name}
                            %td.name
                              %a{href: product_path(p.link_rewrite, :html)}
                                =p.name
                              %br
                              %ins{ title: 'Добавлено '<<p.updated_at.to_s(:when_and_how) } 
                                Добавлено
                                =distance_of_time_in_words(time_now, p.updated_at )
                                назад
                            %td.price
                              %span
                                =price_default p.real_price.ceil
                                &times;
                            %td.count
                              %a{href: "#", class: "btn", data:{uid:p.uid}}
                                =p.count
                            %td.sum
                              %span
                                -sum = p.count*p.real_price.ceil
                                -total_sum += sum
                                =price_default sum  
                        %tr.result.total
                          %td.text{colspan: 4}
                            %b
                              Итого к оплате
                            (без доставки):
                          %td.sum{colspan: 2}
                            =price_default total_sum
                    .begin_order
                      .action.badge.badge-dark-blue
                        Выделено
                        %span.count
                        %a.btn.btn-mini.btn-danger{href: destroy_from_cart_path, data:{action: :delete, remote: :true, method: :delete}}
                          удалить
                      .order
                        %a.btn.btn-success.btn-large{href: new_order_path, data:{auth:true}}
                          оформить заказ
                -if current_cart.goods.out_of_stock.size > 0
                  #products_not_ready.tab-pane.fade
                    %table.products.table.table-hover
                      %tbody
                        -current_cart.goods.out_of_stock.each do |p|
                          %tr
                            %td.cover
                              -if @covers[p.cover_id] and @covers[p.cover_id].image.mini.url
                                %a{href: product_path(p.link_rewrite, :html)}
                                  %img{src: @covers[p.cover_id].image.mini.url, alt: p.name}
                            %td.name
                              %a{href: product_path(p.link_rewrite, :html)}
                                =p.name
                              %br
                              %ins{ title: 'Добавлено '<<p.updated_at.to_s(:when_and_how) } 
                                Добавлено
                                =distance_of_time_in_words(time_now, p.updated_at )
                                назад
                            %td.actions
                              %a.delete.btn.btn-danger{href: destroy_from_cart_path, data:{action: :delete, remote: :true, method: :delete, params: "id=#{p.uid}"}, title: 'Удалить'}
                                %i.icon-trash.icon-white
            -else
              %h3
                В корзине пусто
              %p
                В настоящее время Вы не положили в корзину ни одного товара.
              - promo_adwords = CategoryAdvertising.main.to_a
              -unless promo_adwords.empty?
                =render partial: 'web/adword/carousel', locals: {adwords: promo_adwords}

      .columnLeft