<% cats = Category.select('id, name, link_rewrite, depth, parent_id, lft, rgt, types_ids, products_visible, `show`, products_in_stock').where('`depth` < 3 or `show` = 1').public.tree %>

<% categories = {}; cats.each{|x| categories[x.id] = x }; %>
<% categories.values.keep_if{|x| x.depth==1 }.each do |cat1| %>
  <% if cat1.last_depth? and cat1.show and cat1.products_in_stock > 4 %>
    <%= category_title_link cat1, :h2 %>
    <% products = cat1.products.select('products.id, products.name, products.link_rewrite, products.cover_id, products.price, products.status, products.brand_id, brands.name AS `brand_name`, products.discount_type_id, products.discount_value').joins(:brand).visible.order_stock.order_by_last_views.includes( :cover).limit(10) %>
    <div class="category_box_x simple">
      <div class="wrap">
        <%= render partial: 'web/products/simple_preview', collection: products, as: :product %>
      </div>
    </div>
  <% else %>
    <% print_block = true %>

    <% cats2 = categories.values.keep_if{|x| x.lft > cat1.lft and x.rgt < cat1.rgt and x.depth == 2 } %>

    <% cats2.each do |cat2| %>
      <% if cat2.last_depth? and  cat2.products_in_stock > 3 %>

        <% if print_block %>
          <%= category_title_link cat1, :h2 %>
          <ul class="thumbnails category_prew">
          <% print_block = false %>
        <% end %>
        
        <% product = cat2.products.select('products.id, products.cover_id, products.price').where('products.cover_id > 0').visible.expensive.first %>
        <% if product and product.cover %>
          <li class="thumbnail">
            <p class="super-title"><%= link_to cat2.name+" (#{cat2.products_in_stock})", category_path(cat2.link_rewrite,format: :html, page: nil), title: 'Категория '+cat2.name %></p>
            <%= link_to category_path(cat2.link_rewrite,format: :html, page: nil), title: 'Категория '+cat2.name do %>
              <img src="<%= product.cover.image.thumb_200.url %>" alt="каталог <%= cat2.name %>">
            <% end %>
            <p class="price" >от
              <%= price_default(cat2.products.select('products.price, products.discount_type_id, products.discount_value').where('products.cover_id > 0').visible.cheap.first.real_price) %>
            </p>
          </li>
        <% end %>
      
      <% else %>
        <% if print_block %>
          <%= category_title_link cat1, :h2 %>
          <ul class="thumbnails category_prew">
          <% print_block = false %>
        <% end %>
        
        <% cats3 = categories.values.keep_if{|x| x.lft > cat2.lft and x.rgt < cat2.rgt and x.depth > 2 and x.show and x.products_in_stock > 4 } %>
        <% if cats3.count > 0 or cat2.show %>
          <% if print_block %>
            <%= category_title_link cat1, :h2 %>
            <ul class="thumbnails category_prew">
            <% print_block = false %>
          <% end %>
          <li class="thumbnail super">
            <p class="title"><%= link_to cat2.name, category_path(cat2.link_rewrite,format: :html, page: nil), title: 'Категория '+cat2.name %></p>
          </li>
        <% end %>
        <% cats3.each do |cat3| %>
          <% product = cat3.products.select('products.id, products.cover_id, products.price').where('products.cover_id > 0').visible.expensive.first %>
          <% if product and product.cover %>
            <li class="thumbnail">
              <p class="title"><%= link_to cat3.name+" (#{cat3.products_in_stock})", category_path(cat3.link_rewrite,format: :html, page: nil), title: 'Категория '+cat3.name %></p>
              <%= link_to category_path(cat3.link_rewrite,format: :html, page: nil), title: 'Категория '+cat3.name do %>
                <img src="<%= product.cover.image.thumb_200.url %>" alt="каталог <%= cat3.name %>">
              <% end %>
              <p class="price" >от
                <%= price_default(cat3.products.select('products.price, products.discount_type_id, products.discount_value').where('products.cover_id > 0').visible.cheap.first.real_price) %>
              </p>
            </li>
          <% end %>
          
        <% end %>  
      <% end %>
    <% end %>
    <% unless print_block %>
      </ul>
    <% end %>
  <% end %>
<% end %>