- content_for(:head) do

  %title интернет магазин — Самара-Маркет

  %meta{name: 'description', content: 'интернет магазин Самара-Маркет, в наличии бытовая техника,зоотовары, товары для дома, посуда и кухонная утварь, с доставкой на дом'}

  %meta{name: 'keywords', content: 'нтернет магазин,бытовая техника,посуда, магазины, покупки, в интернете, e-shop, онлайн магазин, через интернет, заказать в интернет магазине,самара,посуда,бытовая,техника'}

  :javascript
    config.navigation = false

.hide_columnLeft_min_page
  .pageWrap
    .pageContainer
      .columnRight
        %nav.nav.nav-pills.pull-right.main_nav
          -cache('nav_fast_links'+Category.select('updated_at').main.updated_at.to_s) do 
            -Category.select([:id, :name, :link_rewrite]).where('depth = 1').public.tree.each do |c|
              %a{href: category_path(c.link_rewrite, format: :html, page: nil), title: c.name}
                =c.name
              |
            %a{href: discounts_path(format: :html, page: nil), title: 'Товары со скидками'}
              Скидки
        #main_page.content
          %ul.breadcrumb
            %li.active{itemscope: true, itemtype: 'http://data-vocabulary.org/Breadcrumb'} 
              %a{ href: root_path(only_path: false), itemprop: :url} 
                %span{itemprop:'title'}
                  интернет магазин
          %h1 интернет магазин
          %p.desc_header
            В каталоге интернет магазина: Техника для дома и кухни; Климатическая техника; Красота и здоровье. Раздел Кухня - посуда, столовые приборы, кухонная утварь и многое другое. Товары для Дома. Зоотовары. Всё с доставкой на дом.
          -viewed_products_ids = cookies[:viewed_products].to_s.split(",")
          -if viewed_products_ids.any?

            -viewed_types_ids = Product.where(id: viewed_products_ids.take(10)).uniq.pluck(:type_id)

            -recomend_products_by_viewed = Product.joins(:brand).select('products.id, products.name, products.link_rewrite, products.cover_id, products.price, products.status, products.brand_id, brands.name AS `brand_name`, products.discount_type_id, products.discount_value').where('products.type_id IN (?) and products.id NOT IN (?)',viewed_types_ids,viewed_products_ids).in_stock.includes( :cover).limit(7).order_by_last_views.to_a

            -if recomend_products_by_viewed.any?
              .category_box_x.simple
                %p.title
                  Возможно это Вас заинтересует
                .wrap
                  =render partial: 'web/products/simple_preview', collection: recomend_products_by_viewed, as: :product
          -cache(:main_page, expires_in: 24.hours) do
            - promo_adwords = CategoryAdvertising.main.to_a
            -unless promo_adwords.empty?
              =render partial: 'web/adword/carousel', locals: {adwords: promo_adwords}
            
            .all_catalog
              =render partial: 'web/home/help_categories'   
          
          %p.desc_foot
            Наш интернет магазин осуществляет доставку заказов по Самарской области в городах Самара и Кинель. 
      .columnLeft
        -cache(:main_page_popular_products, expires_in: 20.hours) do
          -popular_products = Product.select('products.id, products.name, products.link_rewrite, products.cover_id, products.price, products.discount_type_id, products.discount_value').in_stock.includes(:cover).limit(13).order_by_last_views.order('RAND()').to_a
          -if popular_products.any?
            .micro_pre_block_products.popular_products_main
              %p.title
                %span
                  Популярные
              =render partial: 'web/products/mini_preview', collection: popular_products, as: :product

%script
  $(document).ready(function(){window.Helper.standart_page();ObserveResize.getInstance().add("resize_block_category_products",Helper.resize_block_category_products);(function(){fn=function(){c_width=$(".all_catalog:first").width()-15;$(".category_prew .thumbnail").width((c_width/Math.floor(c_width/225))-20)};ObserveResize.getInstance().add("resize_block_category_prew",fn)}).call(this)});