- content_for(:head) do

  %title
    Сообщения, счета и контакты итернет магазин

  %meta{name: 'description', content: 'Сообщения, счета и контакты адмиистрации итернет магазина'}

  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          #contacts
            %h1 Контакты
            .phones.well
              %h2
                Наш телефон
              %p.intro
                Мы принимаем Ваши звонки с 10:00 до 20:00 по МСК (Самара).
              %ul.phones_list
                -Sm::Application.config.sm[:phones].each do |phone|
                  %li= phone
              %p
                При проблемах связанных с работой сайта воспользуйтесь формой для обратной связи. 
              %p
                * Стоимость звонка согласно тарифу Вашего оператора.
            .feedback.well
              %h2 Обратная связь
              -if @errors.any?
                .alert.alert-error
                  %button.close{type: :button, data:{dismiss: :alert}}
                    &times;
                  %ul
                    -@errors.each do |error|
                      %li
                        =error
              -if flash[:feedback_form_success]
                .alert.alert-success
                  %button.close{type: :button, data:{dismiss: :alert}}
                    &times;
                  %p= flash[:feedback_form_success]
              %form#feedbackForm.form-horizontal{ action: contacts_path(:html), method: :post}

                %input{name: :_method, type: :hidden, value: :post}
                %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
                .control-group
                  %label.control-label{for: 'feedbackFormType'} 
                    Тема обращения:
                  .controls
                    %select#feedbackFormType.span4{name: 'type'}
                      %option{value: 0, selected: params[:type] == '0'}
                        Проблема с заказом
                      %option{value: 1, selected:  params[:type] == '1'}
                        Вопрос по заказу
                      %option{value: 2, selected:  params[:type] == '2'}
                        Технические проблемы(сайт)
                      %option{value: 3, selected:  params[:type] == '3'}
                        Общие вопросы
                .control-group.order_bill
                  %label.control-label{for: 'feedbackFormOrderBill'} 
                    Номер заказа:
                  .controls
                    -if user_signed_in?
                      %select#feedbackFormType.span4{name: 'order_bill'}
                        -current_session.user.orders.select('id').each do |o|
                          %option{value: o.bill, selected: params[:order_bill] == o.bill}=o.bill
                    -else
                      %input#feedbackFormOrderBill.span4{type: :text, name: 'order_bill', value: params[:order_bill]} 
                .control-group
                  %label.control-label{for: 'feedbackFormEmail'} 
                    Email для ответа:
                  .controls
                    -if user_signed_in? and !current_session.user.email.blank?
                      %input#feedbackFormEmail.span4{type: :email, name: 'email', value: current_session.user.email} 
                    -else
                      %input#feedbackFormEmail.span4{type: :email, name: 'email', value: params[:email]} 
                .control-group
                  %label.control-label{for: 'feedbackFormMsg'} 
                    Сообщение:
                  .controls
                    %textarea.span4{name: 'msg', rows: 6} 
                      =params[:msg]
                -if @captcha
                  .control-group.captcha
                    %label.control-label{for: 'recoveryPasswordFormCaptcha'} 
                      %img{src: @captcha[:url], alt: 'Капча'}
                    .controls
                      %input{type: :hidden, name: 'captcha[uid]', value: @captcha[:uid]}
                      %input#recoveryPasswordFormCaptcha.span4{type: :text, name: 'captcha[value]', placeholder: 'Введите символы с картинки'}
                .form-actions
                  %button.btn.btn-primary{type: :submit}
                    Отправить
      .columnLeft