<script>
//<![CDATA[
   if(window.opener) {
    if(window.opener.redirect_url) {
      window.opener.location = window.opener.redirect_url
    }else {
      window.location.reload()
    }
  } else {
    document.write('Забыл закрыться')
  }
  document.write('<h1>Мы Вас узнали, добро пожаловать :)</h1>')
  setTimeout(function(){window.close()},1000)
//document]]>
</script>