<% category_root = Category.select('updated_at, lft,rgt, id').root %>
<div id="nav-browse-layout" class="sm-drop-down" data-open="no">
  <div id="nav-browse-categories">
      <ul>
        <% category_root.childrens.select([:id, :name, :link_rewrite, :depth, :lft, :rgt]).where('depth = 1').public.each do |category| %>
          <li><a href="<%= category_path(category.link_rewrite, format: :html, page: nil) %>" data-id="<%= category.last_depth? ? 0 : category.id %>"><%= category.name %><i class="icon-chevron-right"></i></a></li>
        <% end %>
        <li><a href="<%= discounts_path(format: :html, page: nil) %>" data-id="0">Скидки<i class="icon-tags disp"></i></a></li>
        <li><a href="<%= viewed_products_path(format: :html) %>" data-id="0">Просмотренные <i class="icon-eye-open disp"></i></a></li>
      </ul>
  </div>
  <div id="nav-browse-sub-categories">
    <% line_max = 42 %>
    <% counter = 0 %>
    <% cat_d_2 = 0 %>
    <% col_max = 17 %>
    <% close_block = false %>
    <% close_list = false %>

    <% categories = category_root.descendants.select([:id, :name, :link_rewrite, :depth, :rgt, :lft, :parent_id]).where('depth IN (1,2,3)').public %>
    <% categories.public.each do |category| %>

      <% if category.depth == 1 %>
        <% cat_d_2 = 0 %>
        <% counter = 0 %>
        <% categories.each{|x| cat_d_2 += 1 if x.parent_id == category.id } %>

        <% if close_block %>
          <% if close_list %>
            </ul></div>
            <% close_list = false %>
          <% end %>
          </div>
        <% else %>
          <% close_block = true %>
        <% end %>

        <% if cat_d_2 > 0 %>
          <div class="sub-category" data-id="<%= category.id %>" id="sub-category<%= category.id %>" >
        <% else %>
          <% close_block = false %>
        <% end %>
      <% else %>

        <% if (counter > 0) and !(counter%col_max == 0) and category.depth == 2 %>
          <li class="empty">&nbsp;</li>
          <% counter +=1 %>
        <% end %>

        <% if (counter > 0) and (counter%col_max == 0) %>
          </ul></div>
          <% close_list = false %>
        <% end %>
        

        
        <% if !close_list %>
          <div class="list"><ul>
          <% close_list = true %>
        <% end %>

        <li <%if category.depth == 2 %> class="title"<% end %>><%= link_to category.name, category_path(category.link_rewrite, format: :html, page: nil) %></li>

        <% counter +=1 %>
      <% end %>

    <% end %>

    <% if close_block %>
      <% if close_list %>
        </ul></div>
      <% end %>
      </div>
    <% else %>
      <% close_block = true %>
    <% end %>   
  </div>
</div>