- content_for(:head) do

  %title 
    Скидки | интернет магазин Самара-Маркет
    = "-страница #{params[:page].to_i}" if params[:page].to_i > 1

  %meta{name: 'description', content: 'Всё товары со скидками от интернет магазина Самара-Маркет'+(" -страница #{params[:page].to_i}" if params[:page].to_i > 1).to_s}

  %meta{name: 'keywords', content: 'интернет,магазин,скидки,дешего,дешево,дешевле,скидок,цена,предложение,подешевле,со скидками'}

  %link{rel: :canonical, href: discounts_path( format: :html, only_path: false, page: params[:page])}

  :javascript
    config.navigation = true
.products_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          %h1 Товары со скидками
          %ul#sorting.nav.nav-tabs
            %li.title
              Сортировать: 
            %li{class: ('active' if @filter[:sort]==:news) }
              %a{href: discounts_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: :news, page: nil)}
                Новые
            %li{class: ('active' if @filter[:sort]==:amount_of_discount) }
              %a{href: discounts_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: nil, page: nil)}
                По размеру скидки
            %li{class: ('active' if @filter[:sort]==:discount_first) }
              %a{href: discounts_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'expensive', page: nil)}
                Дорогие
            %li{class: ('active' if @filter[:sort]==:discount_first_asc) }
              %a{href: discounts_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'cheap', page: nil)}
                Подешевле
            %li{class: ('active' if @filter[:sort]==:az) }
              %a{href: discounts_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'az', page: nil)}
                А-я
            %li{class: ('active' if @filter[:sort]==:za) }
              %a{href: discounts_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'za', page: nil)}
                Я-а
          -if @products.count == 0
            %h2
              К сожалению, скидок, пока, нет
          -else
            .block_products_block.thumbnails.simple
              =render partial: 'web/products/preview', collection: @products, as: :product
              = paginate @products, theme: :products, window: 4, outer_window: 1
              - content_for(:after_body) do
                :javascript
                  $(document).ready(function(){
                  ObserveResize.getInstance().add('resize_block_products_block',Helper.resize_block_products_block)
                  })
      .columnLeft
        =render partial: 'web/products/filters/brands_for_discounts', locals: { filter: @filter[:brands] }
        =render partial: 'web/products/filters/types_for_discounts'

      .clearfix.clear