<% content_for(:head) do %>
  <title>Каталог интернет магазина Самара-Маркет</title>
  <meta name="description" content="Каталог интернет магазина Самара-Маркет. Бытовая техника для кухни и дома, каталог Красота и здоровье, посуда и другие товары для кухни. Товары для животных">
  <meta name="keywords" content="каталог,интернет магазин,купить,в самаре,<%=@categories.collect{|x| x.name}.join(',') %>">
  <link rel="stylesheet" href="<%= categories_url(format: :html, only_path: false) %>">
<% end %>
<div class="all_catalog page_single_row">
  <h1>Каталог интернет магазинга</h1>

  <% cache('catalog_page_'+Category.maximum('updated_at').to_i.to_s)  do %>
    <% categories = {}; @categories.each{|x| categories[x.id] = x }; @categories = nil %>
    <% open_box = false %>
    <% not_print_categories = [] %>
    <% categories.values.each do |category| %>
      <% if category.depth == 1 %>
        <% if open_box %>
          </ul>
          <% open_box = false %>
        <% end %>
        <h2>
          <%= link_to category.name, category_path(category.link_rewrite,format: :html, page: nil) %>
        </h2>
        <% if category.last_depth? %>
          <% products = category.products.select('products.id, products.name, products.link_rewrite, products.cover_id, products.price, products.status, products.brand_id, brands.name AS `brand_name`, products.discount_type_id, products.discount_value').joins(:brand).visible.order_stock.order_by_last_views.includes( :cover).limit(10) %>
          <% if products.any? %>
            <div class="category_box_x simple">
              <div class="wrap">
                <%= render partial: 'web/products/simple_preview', collection: products, as: :product %>
              </div>
            </div>
          <% end %>
        <% else %>
          <% open_box = true %>
          <ul class="thumbnails category_prew">
        <% end %>
      <% else %>
        <% unless not_print_categories.include?(category.id) or category.types_ids.to_a.count == 0 and category.depth < 5 %>
          <% if !category.last_depth? and category.depth > 2 %>
            <% childrens = categories.values.keep_if{|x| x.parent_id == category.id} %>
            <% b = [] %>
            <% childrens.each{|x| b += x.types_ids} %>

            <% if (category.types_ids - b).count != 0 %>
              <% not_print_categories += childrens.map{|x| x.id} %>
            <% else %>
              <% not_print_categories.push(category.id) %>

            <% end %>
          <% end %>
          <% unless not_print_categories.include?(category.id) %>
            <li class="thumbnail <% if category.depth == 2 %><% if category.last_depth? %>super<% else %>well<% end %><% end %>">
              <% if category.depth == 2 and !category.last_depth? %>
                <p class="super-title"><%= link_to category.name, category_path(category.link_rewrite,format: :html, page: nil) %></p>

              <% else %>
                <p class="title"><%= link_to "#{category.name} (#{category.products_visible.to_i.to_s})", category_path(category.link_rewrite,format: :html, page: nil), title: 'Категория '+category.name %></p>
                <% product = category.products.select('products.id, products.cover_id, products.price').visible.expensive.first %>
                <% if product and product.cover %>
                  <%= link_to category_path(category.link_rewrite,format: :html, page: nil), title: 'Категория '+category.name do %>
                    <img src="<%= product.cover.image.thumb_200.url %>" alt="каталог <%= category.name %>">
                  <% end %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>

      <% end %>  
    <% end %>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    ObserveResize.getInstance().add('resize_block_category_products',Helper.resize_block_category_products);
    ObserveResize.getInstance().add('resize_block_category_prew',function(){
      c_width = window._$.container.width()-15
      $('.category_prew .thumbnail').width((c_width/Math.floor(c_width/225))-20)
    });
  })
</script>
