- promo_adwords = CategoryAdvertising.where("category_id=#{@category.id} and image IS NOT NULL #{'and id <> '+@category.adword_id.to_s if @category.adword_id}").to_a

- content_for(:head) do

  %title 
    = @category.name
    =('cтраница '+params[:page].to_s if params[:page].to_i > 0).to_s
  :css
    .category_description {
      max-width: 800px;
    }
  %meta{name: 'description', content: 'Каталог '+@category.name+' в интернет магазине Самара-Маркет. Цены на '+@category.products_visible.to_s+Russian.p(@category.products_visible, ' товара.', ' товаров.', ' товаров.')+(' Страница '+params[:page].to_s if params[:page].to_i > 0).to_s}

  %meta{name: 'keywords', content: 'каталог,'+@category.name+','+@category.meta_keywords.to_s+','+(@types.map {|x| x.name}).join(',')}

  %link{rel: :canonical, href: category_url(@category.link_rewrite, format: :html, only_path: false, page: params[:page])}

  :javascript
    config.navigation = true
.products_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/breadcrumbs/categories', locals: {category: @category}

          %h1
            =@category.name
          -unless promo_adwords.empty?

            =render partial: 'web/adword/carousel', locals: {adwords: promo_adwords}
          - categories = @category.children.select('id,name,link_rewrite, lft, rgt, products_visible').where('products_visible > 0').public
          -if @category.depth < 3 and !@category.last_depth? and params[:filters][:brands].nil? and params[:filters][:types].nil?
            -if categories.count > 5
              .all_catalog
                %ul.thumbnails.category_prew
                  -categories.each do |category|
                    %li.thumbnail
                      %p.title= link_to "#{category.name} (#{category.products_visible})", category_path(category.link_rewrite,format: :html, page: nil), title: category.name
                      =link_to category_path(category.link_rewrite,format: :html, page: nil), title: category.name do
                        %img{src: category.products.select('products.id, products.cover_id, products.price').where('products.cover_id > 0').visible.expensive.first.cover.image.thumb_200.url, title:category.name}
              %script
                $(document).ready(function(){(function(){fn=function(){c_width=$(".all_catalog:first").width()-5;$(".category_prew .thumbnail").width((c_width/Math.floor(c_width/225))-20)};ObserveResize.getInstance().add("resize_block_category_prew",fn)}).call(this)});
            -else
              - categories.each do |category|
                .category_box_x
                  %p.title
                    =link_to category.name, category_path(category.link_rewrite, format: :html, page: nil), title: category.name
                    %span 
                      =link_to 'показать все >>', category_path(category.link_rewrite, format: :html, page: nil)
                  .wrap
                    =render partial: 'web/products/preview', collection: category.products.joins(:brand).select('products.id, products.name, products.link_rewrite, products.cover_id, products.price, products.status, products.brand_id, brands.name AS `brand_name`, products.ratio, products.ratio_u, products.discount_type_id, products.discount_value').order_stock.includes(:cover).limit(7), as: :product
                  %p.other
                    =link_to 'показать все товары из каталога '+category.name, category_path(category.link_rewrite, format: :html, page: nil), title: category.name
                .separator_category_box_x
              :javascript
                $(document).ready(function(){
                  ObserveResize.getInstance().add('resize_block_category_products',Helper.resize_block_category_products)
                })
          -else
            =render file: 'web/products/index', locals: {products: @products, query: @query}
          -unless params[:filters][:brands] or params[:filters][:types] or params[:filters][:sort] or params[:page]
            .category_description
              =raw @category.description
         
      .columnLeft
        -categories = @category.self_and_siblings.select('id,name,link_rewrite, lft, rgt, products_visible').where('products_visible > 0').public if categories.empty?

        =render partial: 'web/products/filters/categories_for_categories', locals: { categories: categories }
        .facet_search
          %form.form{method: :get, action: category_path(@category.link_rewrite, format: :html)}
            -if params[:sort]
              %input{type: :hidden, name: :sort, value: params[:sort]}
            -if @query.facet(:type_id).rows[1]
              .facet_box
                %a.remove_this_filter{href: '#', title: "Снять галочки со всех типов"}
                  %i.icon-remove
                .title
                  %span
                    %a{href: types_path(:html), title: 'Посмотреть все типы товаров'}
                      Типы
                %ul
                  -ProductsType.order(:name).select([:id, :name]).find(@query.facet(:type_id).rows.map{|x| x.value}).each do |type|
                    %li 
                      %label.checkbox
                        %input{type: :checkbox, name: 'filters[types][]', value: type.id, checked: params[:filters][:types].to_a.include?(type.id.to_s)}
                        %a{href: category_path(@category.link_rewrite, format: :html, filters: {types:[type.id]}, sort: params[:sort], page: nil)}
                          =type.name                        
            -if @query.facet(:brand_id).rows[1]            
              .facet_box.brands
                %a.remove_this_filter{href: '#', title: "Снять галочки со всех брендов"}
                  %i.icon-remove
                .title
                  %span
                    %a{href: brands_path(:html), title: 'Посмотреть все бренды'}
                      Бренды
                %ul
                  -Brand.order(:name).select([:id, :name]).find(@query.facet(:brand_id).rows.map{|x| x.value}).each do |brand|
                    %li 
                      %label.checkbox
                        %input{type: :checkbox, name: 'filters[brands][]', value: brand.id, checked: params[:filters][:brands].to_a.include?(brand.id.to_s)}
                        =brand.name
            -if @properties.count > 0
              #facet_search
                -@properties.each do |prop|
                  -if @query.facet(:properties,prop.id).rows.count > 1
                    .facet_box  
                      %a.remove_this_filter{href: '#', title: "Снять галочки для #{prop.name}"}
                        %i.icon-remove
                      .title
                        %span
                          =prop.name
                      -values = @query.facet(:properties,prop.id).rows.sort_by{|x| x.value}.partition{|v| !v.count.zero?} 
                      %ul
                        -(values[0] + values[1]).each do |data|
                          %li
                            -if data.count.zero?
                              %label.checkbox.muted
                                %input{disabled: true, name: "filters[#{prop.id}][]", type: :checkbox, value: data.value}
                                =raw "#{data.value} #{prop.unit} (#{data.count})"
                            -else
                              %label.checkbox
                                %input{checked: params[:filters][prop.id.to_s].to_a.include?(data.value), name: "filters[#{prop.id}][]", type: :checkbox, value: data.value}
                                =raw "#{data.value} #{prop.unit} (#{data.count})"
            %button#clean_facet_form.btn{type: :reset}
              %i.icon-remove
              Снять все
            %button.btn.btn-info{type: :submit}
              %i.icon-filter.icon-white 
              Фильтр
      .clearfix.clear
:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $.post('/i_category_view/#{@category.id}')
    },7000)
    $('.facet_box .remove_this_filter').click(function(){
      $(this).parents('.facet_box:first').find('input:checked').prop('checked', false)
      return false;
    })
    $('#clean_facet_form').click(function(){
      $('#facet_search, .facet_box.brands').find('input:checked').prop('checked', false)
      return false;
    })

  })