- content_for(:head) do

  %title Просмотренные товары

  %meta{name: 'description', content: 'Товары которыми Вы интересовались ранее'}

  :javascript
    config.navigation = true
.products_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          %h1.align-center
            Последние просмотренные товары
          -if @products.count.size == 0
            .alert.alert-info
              %h3 Вы ещё ничего не смотрели
          -else
            %ul#sorting.nav.nav-tabs
              %li.title
                Сортировать: 
              %li{class: ('active' if @filter[:sort]==:news) }
                %a{href: viewed_products_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: :news)}
                  Новые
              %li{class: ('active' if @filter[:sort]==nil) }
                %a{href: viewed_products_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: nil)}
                  Дорогие
              %li{class: ('active' if @filter[:sort]==:cheap) }
                %a{href: viewed_products_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'cheap')}
                  Подешевле
              %li.discount{class: ('active' if @filter[:sort]==:discount_first) }
                %a{href: viewed_products_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'discount_first')}
                  Скидки вперед
              %li{class: ('active' if @filter[:sort]==:az) }
                %a{href: viewed_products_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'az')}
                  А-я
              %li{class: ('active' if @filter[:sort]==:za) }
                %a{href: viewed_products_path(format: :html, brands: @filter[:brands], types: @filter[:types], sort: 'za')}
                  Я-а
            .block_products_block.thumbnails.simple
              =render partial: 'web/products/preview', collection: @products, as: :product
            - content_for(:after_body) do
              :javascript
                $(document).ready(function(){
                  ObserveResize.getInstance().add('resize_block_products_block',Helper.resize_block_products_block)
                })
      .columnLeft
        =render partial: 'web/products/filters/brands_for_viewed', locals: { filter: @filter[:brands] }
        =render partial: 'web/products/filters/types_for_viewed'

      .clearfix.clear