- content_for(:head) do

  %title Идентификация Самара-Маркет

  %meta{name: 'description', content: 'Оформление заказа Самара-Маркет'}

  :javascript
    config.navigation = false;

:javascript
  $(document).ready(function(){
    window.Helper.standart_page();
    window.redirect_url = $.trim(document.getElementById('redirect_url').innerText)
  })

#redirect_url{style:'display:none'}
  =flash[:redirect_url].blank? ? user_url : flash[:redirect_url]
.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          %h1
            Идентификация
          -if flash[:success]
            :javascript
              $(function(){$('#authNotWindowTab a:last').tab('show');})
            .alert.alert-success
              %h4
                =flash[:success]
          #authNotWindow

            %ul#authNotWindowTab.nav.nav-tabs
              %li.active
                %a{href: '#authNotWindowNew', data:{toggle: :tab}}
                  Регистрация
              %li
                %a{href: '#authNotWindowOld', data:{toggle: :tab}}
                  Вход
            #authNotWindowTabContent.tab-content
              #authNotWindowNew.tab-pane.fade.active.in
                %form.form-horizontal.row-fluid{ action: user_path, method: :post, data: {remote: true}}
                  %input{name: :_method, type: :hidden, value: :post}
                  %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
                  .span6
                    .control-group
                      %label.control-label{for: 'authNotWindowNewPhone'}
                        Телефон:
                      .controls.input-prepend
                        %span.add-on
                          +7
                        %input#authNotWindowNewPhone.phone{type: :text, name: :phone, placeholder: 'Мобильный телефон'} 
                    .control-group
                      %label.control-label{for: 'authNotWindowNewFirstName'}
                        Имя:
                      .controls
                        %input#authNotWindowNewFirstName{type: :text, name: :first_name, placeholder: 'Ваше имя'} 
                    .control-group
                      %label.control-label{for: 'authNotWindowNewPassword'}
                        Пароль:
                      .controls
                        %input#authNotWindowNewPassword{type: :password, name: :password, placeholder: 'Придумайте пароль'}
                  .span6
                    .control-group
                      %p
                        %span.label.label-important
                          %i.icon-hand-right.icon-white
                        Нажимая кнопку "Регистрация", Вы соглашаетесь со всеми положениями
                        %a{href: privacy_policy_path(:html), title: 'Соглашение о конфиденциальности информации', data:{'popup-content'=>true} }
                          cоглашения о конфиденциальности информации
                        \.
                
                      .controls
                        %button.btn.btn-info.btn-large{type: :submit}
                          Регистрация 
              #authNotWindowOld.tab-pane.fade
                %form.form-horizontal.row-fluid{ action: '/user/login', method: 'post', data: {remote: true}}
                  %input{name: :_method, type: :hidden, value: :post}
                  %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
                  .span6
                    .control-group
                      %label.control-label{for: 'authNotWindowOldPhone'}
                        Телефон:
                      .controls.input-prepend
                        %span.add-on
                          +7
                        %input#authNotWindowOldPhone.phone{type: :text, name: :uid, placeholder: 'Мобильный телефон', value: flash[:phone]} 
                    .control-group
                      %label.control-label{for: 'authNotWindowOldPassword'}
                        Пароль:
                      .controls
                        %input#authNotWindowOldPassword.password{type: :password, name: :password, placeholder: 'Пароль'} 
                    .control-group.actions
                      %label.checkbox.pull-left
                        %input{type: :checkbox, name: :remember}
                        запомнить меня
                      %button.btn.btn-info.pull-right{type: :submit}
                        Войти
                  .span6.helper
                    %p
                      %a{href: recovery_password_path, title: 'Перейти на страницу востановления пароля'}
                        Вспомнить пароль
            .auth-oauth-providers
              %p 
                Вы уже зарегистрированы в одной из социальных сетей?
              %ul.nav.link-social
                %li
                  %a{href: '/auth/vkontakte', class: 'vkontakte'}
                %li
                  %a{href: '/auth/facebook', class: 'facebook'}
                %li
                  %a{href: '/auth/twitter', class: 'twitter'}
                %li
                  %a{href: '/auth/google_oauth2', class: 'google'}
                %li
                  %a{href: '/auth/yandex', class: 'yandex'}
                %li
                  %a{href: '/auth/mailru', class: 'mailru'}
              %p
                Разрешая доступ через oAuth, Вы соглашаетесь со всеми положениями
                %a{href: privacy_policy_path(:html), title: 'Соглашение о конфиденциальности информации', data:{'popup-content'=>true} }
                  cоглашения о конфиденциальности информации
              \.
      .columnLeft