- content_for(:head) do

  %title 
    Поиск
    =params[:query].to_s
    =('cтраница '+params[:page].to_s if params[:page].to_i > 0).to_s

  %meta{name: 'description', content: 'Поиск по интернет магазину Самара-Маркет, запрос - '+params[:query].to_s+(' Страница '+params[:page].to_s if params[:page].to_i > 0).to_s}

  -if !params[:query].blank? and params[:query].length > 1 and @query.hits.total_count > 0
    :javascript
      config.navigation = true
  -else
    :javascript
      config.navigation = false
.products_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          - if params[:query].blank? or params[:query].length < 2
            .alert.alert-info
              %h3
                Для поиска необходимо минимум два символа
              %p
                К сожалению невозможно найти слова которые содержа меньше двух символов.
                Постарайтесь уточнить Ваш запрос.
          - elsif @query.hits.total_count == 0
            .alert.alert-info
              %h3
                К сожалению, по Вашему запросу, ничего не найдено.
              %p
                Попробуйте уточнить Ваш запрос или наоборот - упростить.
          - else
            %h3 
              Вы искали
              ="\"#{params[:query]}\""
            %h4
              Найдено
              =@query.hits.total_count
              =Russian.p(@query.hits.total_count,'товар', 'товара', 'товаров')
            .block_products_block.thumbnails
              =render partial: 'web/products/preview', collection: @products, as: :product
            -if @query.hits.total_pages > 1
              = paginate @query.hits, theme: :products, window: 4, outer_window: 1         
      .columnLeft
        -if !params[:query].blank? and params[:query].length > 1 and @query.hits.total_count > 0
          =render partial: 'web/products/filters/brands_for_search'
          =render partial: 'web/products/filters/types_for_search'








        
        /   %h1
        /     =params[:query].to_s
        /   -if params[:query].length < 2
        /     %h3
        /       Минимум два символа
        /   -elsif @query.hits.total_count == 0
        /     %h3
        /       По вашему запросу ничего не найдено
        /   -else
        /     %h3
        /       Найдено
        /       =@query.hits.total_count
        /       =Russian.p(@query.hits.total_count,'товар', 'товара', 'товаров')
        /     .list_of_products
        /       -@products.each do |product|
        /         .product.media.clearfix
        /           .add_cart
        /             %p.price
        /               Цена:
        /               %span{}
        /                 =number_with_delimiter(product.real_price.ceil, delimiter: " ")
        /                 руб.
        /             =render partial: 'web/products/full_add_cart', locals: {product: product, count: 1}
        /             =render partial: 'web/products/discount', locals: {product: product}
        /           %p.title
        /             %a{href: product_path(product.link_rewrite, :html), title: product.name}
        /               %b
        /                 = product.name
        /           .body
        /             .cover
        /               %a{href: product_path(product.link_rewrite, :html), title: product.name}
        /                 -if product.cover and product.cover.image
        /                   -cover = product.cover
        /                 -else
        /                   -cover = ProductImages.new
        /                 %img.media-object{src: cover.image.thumb.url, alt: product.name}
        /             .description
        /               =raw product.short_description
        / -if @query.hits.total_count > 0
        /   = paginate @query.hits, theme: :products, window: 4, outer_window: 1            
