- content_for(:head) do

  %title
    =@user.full_name
    профиль на Самара-Маркет

  %meta{name: 'description', content: 'Ваш профиль Самара-Маркет'}

  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          =render partial: 'web/navigations/profile'
          #user_profile
            %h1 Ваш профиль
            %form#user_profile_form.form-horizontal{action: update_user_path, method: :post}
              -if @user.errors.any? or flash[:data_verified_error]
                .alert.alert-error
                  %button.close{type: :button, data:{dismiss: :alert}}
                    &times;
                  -if @user.errors.any?
                    %h4
                      =Russian.p(@user.errors.count, 'Найдена', 'Найдено', 'Найдено')
                      =@user.errors.count
                      =Russian.p(@user.errors.count, 'ошибка.', 'ошибки.', 'ошибок.')
                    %br
                    %p
                      Профиль не сохранён.
                    %ul
                      - @user.errors.full_messages.each do |error|
                        %li 
                          =error
                  -else flash[:data_verified_error]
                    =flash[:data_verified_error]

              -if flash[:data_verified_success]
                .alert.alert-success
                  %button.close{type: :button, data:{dismiss: :alert}}
                    &times;
                  = flash[:data_verified_success]

              %input{name: :_method, type: :hidden, value: :put}
              %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
              %input{name: :id, type: :hidden, value: @user.id}
              .control-group{class: ('error' if @user.errors.messages[:last_name])}
                %label.control-label{for: 'form_user_edit_last_name'}
                  Фамилия:
                .controls
                  %input#form_user_edit_last_name{name: :last_name, type: :text, value: @user.last_name}
              .control-group{class: ('error' if @user.errors.messages[:first_name])}
                %label.control-label{for: 'form_user_edit_first_name'}
                  Имя:
                .controls
                  %input#form_user_edit_first_name{name: :first_name, type: :text, value: @user.first_name}
              .control-group{class: ('error' if @user.errors.messages[:middle_name])}
                %label.control-label{for: 'form_user_edit_middle_name'}
                  Отчество:
                .controls
                  %input#form_user_edit_middle_name{name: :middle_name, type: :text, value: @user.middle_name}
              .control-group{class: ('error' if @user.errors.messages[:email])}
                %label.control-label{for: 'form_user_edit_email'}
                  E-mail:
                .controls
                  %input#form_user_edit_email{name: :email, type: :text, value: @user.email}
                  -if !@user.email.blank?
                    -if @user.email_verified
                      %span.badge.badge-success
                        подтвержден
                    -else    
                      %span.badge.badge-important{title: 'Ваш email адрес не подтверждён'}
                        не подтвержден
              .control-group{class: ('error' if @user.errors.messages[:phone])}
                %label.control-label{for: 'form_user_edit_phone'}
                  Телефон:
                .controls
                  %input#form_user_edit_phone{name: :phone, type: :text, value: @user.phone}
                  -if !@user.phone.blank?
                    -if @user.phone_verified
                      %span.badge.badge-success
                        подтвержден
                    -else    
                      -if !@user.phone_verified
                        %span.badge.badge-important{title: 'Ваш номер телефона не подтверждён'}
                          не подтвержден
              .form-actions
                %button.btn.btn-primary{type: :submit}
                  Сохранить
            .row.fly
              -if !@user.phone_verified 
                #user_profile_phone_verified.span12
                  %p 
                    %span.badge.badge-important Ваш номер телефона не подтверждён.
                    Для подтверждения нажмите кнопку, после чего Вам придёт смс с подтверждающим кодом, этот код будет необходимо ввести в появившиеся поле.
                  =button_to 'Запросить код для телефона', data_verified_path(field: :phone), confirm: 'Вы уверены что хотите подтвердить номер телефона '<<@user.phone.to_s, method: :post, class: 'btn'
                - if current_session.user.verifieds.where(field: UserDataVerified::FIELDS[:phone], exp: false).where('created_at > ?', 1.day.ago).last
                  #user_profile_phone_verified_key.span12
                    %form.form-inline{method: :get, action: data_verified_field_path(field: :phone)}
                      %label
                        Код подтверждения номера телефона:
                      %input{type: :text, name: :token}
                      %button.btn.btn-success{type: :submit}
                        активировать
              -if !@user.email_verified and !@user.email.blank?
                #user_profile_email_verified.span12
                  %p 
                    %span.badge.badge-important Ваш email адрес не подтверждён.
                    Для подтверждения нажмите кнопку, после чего Вам придёт письмо на указанный email со специальной ссылкой, по которой будет нужно пройти или же скопировать код подтверждения в появившиеся поле.
                  =button_to 'Запросить код для email', data_verified_path(field: :email), confirm: 'Вы уверены что хотите подтвердить email адрес '<<@user.email.to_s, method: :post, class: 'btn'
                - if current_session.user.verifieds.where(field: UserDataVerified::FIELDS[:email], exp: false).where('created_at > ?', 1.day.ago).last
                  #user_profile_email_verified_key.span12
                    %form.form-inline{method: :get, action: data_verified_field_path(field: :email)}
                      %label
                        Код подтверждения email:
                      %input{type: :text, name: :token}
                      %button.btn.btn-success{type: :submit}
                        активировать
            -if @user.auths.where(provider: UserAuth::PROVIDERS[:sm]).first
              %form#user_password_form.form-horizontal{action: update_password_path, method: :post}
              
                %h3 Изменение пароля
                %input{name: :_method, type: :hidden, value: :post}
                %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
                -if flash[:update_password_error]
                  .alert.alert-error
                    %button.close{type: :button, data:{dismiss: :alert}}
                      &times;
                    -if flash[:update_password_error].is_a?(String)
                      %p= flash[:update_password_error]
                    -else
                      %ul
                        -flash[:update_password_error].each do |error|
                          %li= error
                -if flash[:update_password_success]
                  .alert.alert-success
                    %button.close{type: :button, data:{dismiss: :alert}}
                      &times;
                    %p= flash[:update_password_success]
                .control-group
                  %label.control-label{for: 'user_password_form_old'}
                    Настоящий пароль:
                  .controls
                    %input#user_password_form_old{name: :old_password, type: :password}
                .control-group
                  %label.control-label{for: 'user_password_form_new'}
                    Новый пароль:
                  .controls
                    %input#user_password_form_new{name: :password, type: :password}
                .control-group
                  %label.control-label{for: 'user_password_form_retry'}
                    Повтор пароля:
                  .controls
                    %input#user_password_form_retry{name: :retry_password, type: :password}
                .form-actions
                  %button.btn.btn-primary{type: :submit}
                    Сохранить
      .columnLeft