- content_for(:head) do

  %title
    Востановление пароля

  %meta{name: 'description', content: 'Востановление пароля для доступа к сайту'}

  :javascript
    config.navigation = false;
%script
  $(document).ready(function(){window.Helper.standart_page()})

.standart_page
  .pageWrap
    .pageContainer
      .columnRight
        .content
          #page_recovery_password
            %h1 Востановление пароля
            %p
              Если Вы забыли свой пароль, то можете воспользоваться этой формой для его изменения.
            %p
              Если Ваш номер телефона зарегестрирован на нашем сайте, то через несколько секунд Вы должны получить смс с новым паролем.
            -if @errors.any?
              .alert.alert-error
                %button.close{type: :button, data:{dismiss: :alert}}
                  &times;
                %ul
                  -@errors.each do |error|
                    %li
                      =error

            .form_for_recovery.well
              %h3 Запросить пароль
              %form#recoveryPasswordForm.form-horizontal{ action: recovery_password_path, method: :post}
                %input{name: :_method, type: :hidden, value: :post}
                %input{name: 'authenticity_token', type: :hidden, value: form_authenticity_token }
                .control-group.phone
                  %label.control-label{for: 'recoveryPasswordFormPhone'}
                    Ваш номер телефона:
                  .controls.input-prepend.phone
                    %span.add-on
                      +7
                    %input#recoveryPasswordFormPhone{type: :text, name: :phone, placeholder: 'Мобильный телефон', value: params[:phone]}
                .control-group.captcha
                  %label.control-label{for: 'recoveryPasswordFormCaptcha'} 
                    %img{src: @captcha[:url], alt: 'Капча'}
                  .controls
                    %input{type: :hidden, name: 'captcha[uid]', value: @captcha[:uid]}
                    %input#recoveryPasswordFormCaptcha{type: :text, name: 'captcha[value]', placeholder: 'Введите символы с картинки'}
                .control-group.submit
                  .controls
                    %button.btn.btn-primary{type: :submit}
                      Получить пароль
      .columnLeft