!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1.0' }
    %meta{ name: 'google-site-verification', content:'qE3p1qw7KLWigjOA4bOu_WL5pVR9cSKl1JPap4xCMz8' }
    %meta{ name: 'yandex-verification', content:'4368b25c0960dfd6' }
    %script
      var config = {};
      var sm = {};
      var PRODUCTS_IN_CART = [];
      var USER_NAME = null;
    =yield :head
    =favicon_link_tag
    =stylesheet_link_tag 'web/application', media: 'all'
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'}
    /[if lt IE 9] <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    /[if lt IE 9] <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    =csrf_meta_tags
    =javascript_include_tag 'web/application'
  %body{'itemscope'=>true, 'itemtype'=>'http://schema.org/WebPage'}
    %header
      .content
        .logo
          =logo
        .info.pull-right
          %ul.help
            %li
              Как
            %li
              %a{href: '#'}
                оформить,
            %li
              %a{href: payments_path(format: :html), title: 'Оплата заказа'}
                оплатить
            %li
              и
            %li
              %a{href: delivery_path(format: :html), title: 'Получение заказа'}
                получить
            %li
              заказ
          %p.phone
            %i.icon32-handset
            %span.code
              +7 (846)
            271-24-70
            %span.city
              \- Самара
          %p.write_to_us
            %a.skype_call{href:'skype:samara-market?call',title:'позвонить через skype'}
              %i.icon-skype  
              позвонить через skype
            %a{href: contacts_path(:html), title: 'Сообщения, счета и контакты'}
              %i.icon-envelope
              Написать нам
        .free-block
          .pre-cart
            .start-order
              %a.btn.btn-primary{href: cart_path(:html)}
                %i.icon-hand-right.icon-white 
                оформить заказ
            .cart
              %a.in_cart{href: cart_path(:html)}
                %i.icon32-cart2
                корзина
              %ul
                %li.products
                  товары:
                  %span
                %li.sum
                  сумма:
                  %span        
      .navbar.clearfix
        #navbar.navbar-inner
          %a#catalog_open.btn.btn-orange{data:{window:'nav-browse-layout'}}
            Каталог товаров
            %span.caret
          %form#search.navbar-form.pull-left{action: search_path(:html), method: :get}
            %input.query{type: :search, name: 'query', value: params[:query], placeholder: 'Что Вы хотите найти?'}
            %button.btn.btn-primary{type: :submit}
              %i.icon-search.icon-white
              найти
          %ul.nav.pull-right
            %li
              %a{href: '#cart_preview', id: 'b_cart_preview', title: 'Быстрый просмотр корзины'}
                %i.icon32-cart
            -#%li
            -#  %a{href: '#', rel: :tooltip, title: 'Личные списки товаров', data: {placement: :left}}
            -#    %i.icon32-star
            %li#dropUserProfile.dropdown
              -if user_signed_in?
                %a{href: '#', title: 'Профиль, адреса и заказы пользователя', data: { toggle: 'dropdown',target: '#'}, class: 'dropdown-toggle', role: 'button'}
                  %i.icon32-user
                %ul.dropdown-menu{role:'menu','aria-labelledby' => 'dropUserProfile'}
                  %li
                    %a{href: user_path, title: 'Ваш профиль'}
                      %i.icon-user
                      профиль
                  %li
                    %a{href: addresses_path, title: 'Ваш адреса'}
                      %i.icon-globe
                      адреса
                  %li
                    %a{href: orders_path, title: 'Ваши заказы'}
                      %i.icon-list-alt
                      заказы
                  %li
                    %a{href: user_logout_path, title: 'Выход'}
                      %i.icon-off
                      выход
              -else
                %a{href: user_path, title: 'Профиль, адреса и заказы пользователя', data: { auth:true}}
                  %i.icon32-user
            %li
              %a{href: contacts_path(:html), title: 'Сообщения, счета и контакты'}
                %i.icon32-mail
    #container.container
      .row
        = yield
    %footer.clearfix
      #featured-products-footer.scroll-pane
        .block_products_block.scroll-content
        .scroll-bar-wrap.ui-widget-content.ui-corner-bottom
          .scroll-bar
      .clearfix
      .hr
      %nav.nav.nav-pills.footer_fast_navs
        -cache('nav_fast_links'+Category.select('updated_at').main.updated_at.to_s) do 
          -Category.select([:id, :name, :link_rewrite]).where('depth = 1').public.tree.each do |c|
            %a{href: category_path(c.link_rewrite, format: :html, page: nil), title: c.name}
              =c.name
            |
          %a{href: discounts_path(format: :html, page: nil), title: 'Товары со скидками'}
            Скидки
      .hr
      .navigation
        %ul.main
          %li
            %a{href: root_path, title: 'интернет магазин'}
              Интернет магазин
        %ul.shop_help
          %li
            %a{href: delivery_path(format: :html), title: 'Получение заказа'}
              Получение заказа
          %li
            %a{href: payments_path(format: :html), title: 'Оплата заказа'}
              Оплата заказа
          %li
            %a{href: return_of_goods_path(format: :html), title: 'Возврат и гарантийный ремонт'}
              Возврат и гарантийный ремонт
        %ul
          %li
            %a{href: contacts_path(format: :html), title: 'Контакты с администрацией интернет магазина'}
              Контакты
          %li
            %a{href: public_offer_path(format: :html), title: 'Публичный договор-оферта'}
              Публичный договор-оферта
          %li
            %a{href: privacy_policy_path(format: :html), title: 'Соглашение о конфиденциальности'}
              Соглашение о конфиденциальности
      .clearfix
      .hr
      .footer-inc
        %p.align-center
          =home_link('интернет магазин')
          Самара-Маркет
        %p.align-center
          г. Самара
          %span
            2011-2013 г.
      %noscript
        %div
          %img{src:'//mc.yandex.ru/watch/11338783', style:'position:absolute; left:-9999px', alt:''}      
      :javascript
        (function(b,c,a){(c[a]=c[a]||[]).push(function(){try{c.yaCounter11338783=new Ya.Metrika({id:11338783,webvisor:!0,clickmap:!0,accurateTrackBounce:!0})}catch(a){}});var e=b.getElementsByTagName("script")[0],d=b.createElement("script");a=function(){e.parentNode.insertBefore(d,e)};d.type="text/javascript";d.async=!0;d.src=("https:"==b.location.protocol?"https:":"http:")+"//mc.yandex.ru/metrika/watch.js";"[object Opera]"==c.opera?b.addEventListener("DOMContentLoaded",a,!1):a()})(document,window,"yandex_metrika_callbacks");
    %a#goto_header{data:{'offset-top'=>400,'spy'=>'affix'}, href:'#', 'onclick'=>'window.scrollTo(0,0);return false'}
      &#8593;
      вверх
    %div{style: 'text-align: right;margin: 0 40px 50px 0;'}
      %noindex
        %a{target:'_blank', title: 'Royal Canin - корма для собак и кошек', href: 'http://royal-canin.ru/'}
          %img{height: '45', border: '0', width: '120', src:' http://royal-canin.ru/UserFiles/Image/rc_logo120.jpg', alt: 'Royal Canin - корма для собак и кошек'}
  -cache('catalog_navigation'+Category.select('updated_at').main.updated_at.to_s) do    
    =render partial: 'web/toolbar/catalog'
  = yield(:after_body)
  #cart_preview.sm-drop-down
  -if current_cart?
    :javascript
      ;PRODUCTS_IN_CART = #{current_cart.contents.visible.to_json(methods: [:real_price, :sum_discount])}
  -if user_signed_in?
    :javascript  
      ;USER_NAME = "#{current_session.user.first_name}"