Интернет-магазин Самара-Маркет

<% if self.instance_variable_defined?('@user') and !@user.full_name.blank?%>
  Здравствуйте, <%= @user.full_name %>!
<% else %>
  Здравствуйте!
<% end %>


<%= @title %>

<%= yield %>