<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta name="generator" content="sm">
    <title><%= @title %></title>
  </head>
  <body>
    <div>
      <img style="float: left" src="http://samara-market.com/img/logo.jpg" alt="Логотип Самара-Маркет" >
      <div style="background-color: #0774D1; margin: 30px 0 30px 230px;">
        <p style="font-size: 20px; color: #FFF; padding: 7px 10px; font-weight: 700;"><%= @title %></p>
      </div>
      <p style="margin-left: 230px; font-weight: 700;" >
        <% if self.instance_variable_defined?('@user') and !@user.full_name.blank?%>
          Здравствуйте, <%= @user.full_name %>!
        <% else %>
          Здравствуйте!
        <% end %>
      </p>
      <div style="margin-top: 20px; color: #333;">
          <%= yield %>
      </div>
    </div>
  </body>
</html>